<div class="flex_wrapp">
    <button class="btn btn-green btn-sm width-100" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#categories-sidebar" aria-controls="categories-sidebar">
        {{ btn_text }}
    </button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="categories-sidebar" aria-labelledby="sidebar-head">
    <div class="offcanvas-header sidebar-header">
        <h5 id="sidebar-head">Список категорий</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

        <form method="post">
            {% csrf_token %}
            <div class="flex-wrapp">
                <input type="submit" name="categories_change" class="btn btn-sm btn-green" value="Сохранить">
            </div>

            {% for category in categories %}
                {% if category in user_obj.profile.categories.all %}

                    <div class="form-check">
                        <div class="card text_center">
                            <input class="form-check-input" checked name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                            <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

            {% for category in categories %}
                {% if category not in user_obj.profile.categories.all %}

                    <div class="form-check">
                        <div class="card text_center">
                            <input class="form-check-input" name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                            <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
