{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 30%">Контент</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><a href="{% url 'all_users' %}"><b>Все пол-и ({{ users_count }})</b></a></td>
                <td><a href="{% url 'paid_users' %}">Активные ({{ paid_users_count }})</a></td>
                <td><a href="{% url 'unpaid_users' %}">Не продлили подписку ({{ unpaid_users_count }})</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'med:videos' %}"><b>Видео ({{ videos_count }})</b></a></td>
                <td><a href="{% url 'med:videos_unpublished' %}"><i class="bi bi-plus"></i> Добавить</a></td>
                <td><a href="{% url 'med:videos' %}"><i class="bi bi-pencil-square"></i> Изменить</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'med:articles' %}"><b>Статьи ({{ articles_count }})</b></a></td>
                <td><a href="{% url 'med:article_create' %}"><i class="bi bi-plus"></i> Добавить</a></td>
                <td><a href="{% url 'med:articles' %}"><i class="bi bi-pencil-square"></i> Изменить</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'med:photo_list' %}"><b>Картинки ({{ photos_count }})</b></a></td>
                <td><a href="{% url 'med:photo_create' %}"><i class="bi bi-plus"></i>Добавить</a></td>
                <td><a href="{% url 'med:photo_list' %}"><i class="bi bi-pencil-square"></i> Изменить</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'med:comment_list' %}"><b>Комменты ({{ comments_count }}) {% if new_comments %} <span style="color: green">(новых - {{ new_comments }})</span> {% endif %} </b></a></td>
                <td></td>
                <td><a href="{% url 'med:comment_list' %}"><i class="bi bi-pencil-square"></i> Модерация</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'med:comment_list' %}"><b>Вопросы ({{ questions_count }}) {% if new_questions %} <span style="color: green">(новых - {{ new_questions }})</span> {% endif %} </b></a></td>
                <td></td>
                <td><a href="{% url 'med:questions_list' %}"><i class="bi bi-pencil-square"></i> К списку</a></td>
            </tr>

          </tbody>
        </table>
    </div>

{% endblock %}

