{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Имя Фамилия</th>
              <th scope="col">Дата рег-и</th>
            </tr>
          </thead>
          <tbody>

        {% for user in paid_users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'profile' user.user.pk %}">{{ user.user.username }}</a></td>
                <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
                <td>{{ user.created_at| date }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}