{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Профиль
{% endblock %}


{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}


{% block content %}
    <div class="background bg-profile"></div>
    <div class="main-container page-container">

        <div class="avatar">
            {% if user_obj.profile.avatar %}
                <img class="avatar-photo" src="{{ user_obj.profile.avatar.url }}" alt="Аватар">
            {% else %}
                <div class="no-photo">
                    <img src="{% static 'bg-elements/photo.svg' %}" alt="">
                </div>
            {% endif %}
        </div>

        {% if user.pk == user_obj.pk %}
            <a href="{% url 'profile_edit' pk=user_obj.pk %}" class="edit-link">
                <div class="edit-link-btn">
                    Редактировать
                </div>
            </a>
            <a href="{% url 'user_password_change' pk=user_obj.pk %}">
                <div class="pass-change-btn">
                    Сменить пароль
                </div>
            </a>
        {% endif %}

        <div class="side-menu">

            <a href="{% url 'subscription' %}">
                <div class="subscription">
                    Подписка
                </div>
            </a>

            <a href="{% url 'questions' user_obj.id %}">
                <div class="question">
                    Вопросы
                </div>
            </a>

            <a href="{% url 'profile' user_obj.id %}">
                <div class="private-office">
                    Личный кабинет
                </div>
            </a>

        </div>

        <div class="full-name">
            {{ user_obj.first_name }} {{ user_obj.last_name }}, {{ age }}
            <p>
                {{ user_obj.username }}
            </p>
        </div>

        <div class="info">
            <p>Email - {{ user_obj.email }}</p>
            <p>Дата регистрации - {{ user_obj.date_joined.date }}</p>
            <p>Телефон - {{ user_obj.profile.phone }}</p>
            <p>Инстаграм - {{ user_obj.profile.instagram }}</p>
        </div>

        <a href="#">
            <img src="{% static 'bg-elements/make-review.svg' %}" alt="" class="make-review">
        </a>

    </div>

    <img class="ellipse-24" src="{% static 'bg-elements/ellipse-24.svg' %}" alt="">

{% endblock %}