{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Редактирование профиля
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}

{% block content %}
    <div class="title-center">
        <h1>Редактировать данные</h1>
    </div>
    <img class="ellipse-14" src="{% static 'bg-elements/ellipse-14.svg' %}" alt="ellipse-14">
    <img class="ellipse-13" src="{% static 'bg-elements/ellipse-13.svg' %}" alt="ellipse-13">
    <form action="{% url 'profile_edit' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div class="avatar">
                {% if user_obj.profile.avatar %}
                    <img class="avatar-photo" src="{{ user_obj.profile.avatar.url }}" alt="Аватар">
                {% else %}
                    <div class="no-photo">
                        <img src="{% static 'bg-elements/photo.svg' %}" alt="">
                    </div>
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="name">Имя</label>
            </div>
            <div class="input_div">
                {% if form.errors.first_name %}
                    <input type="text" class="input-style error_border" name="first_name" id="name" value="{{ user_obj.first_name }}" placeholder="Введите имя">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.first_name %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="first_name" id="name" value="{{ user_obj.first_name }}" placeholder="Введите имя">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="last_name">Фамилия</label>
            </div>
            <div class="input_div">
                {% if form.errors.last_name %}
                    <input type="text" class="input-style error_border" name="last_name" id="last_name" value="{{ user_obj.last_name }}" placeholder="Введите фамилию">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.last_name %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="last_name" id="last_name" value="{{ user_obj.last_name }}" placeholder="Введите фамилию">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="phone">Номер телефона</label>
            </div>
            <div class="input_div">
                {% if profile_form.phone.errors %}
                    <input type="tel" class="input-style error_border" name="phone" id="phone" value="{{ user_obj.profile.phone }}"
                           placeholder="Введите номер телефона">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in profile_form.phone.errors %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="tel" class="input-style" name="phone" id="phone" value="{{ user_obj.profile.phone }}" placeholder="Введите номер телефона">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="email">Email</label>
            </div>
            <div class="input_div">
                {% if form.errors.email %}
                    <input type="text" class="input-style error_border" name="email" id="email" value="{{ user_obj.email }}" placeholder="Введите эл.почту">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.email %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="email" id="email" value="{{ user_obj.email }}" placeholder="Введите эл.почту">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="birth_date">Дата рождения</label>
            </div>
            <div class="input_div">
                {% if profile_form.birth_date.errors %}
                    <input type="date" class="input-style error_border" name="birth_date" id="birth_date" value="{{ birth_date }}">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in profile_form.birth_date.errors %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="date" class="input-style" name="birth_date" id="birth_date" value="{{ birth_date }}">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="instagram">Профиль в инстаграм</label>
            </div>
            <div class="input_div">
                {% if profile_form.instagram.errors %}
                    <input type="text" class="input-style error_border" name="instagram" id="instagram" value="{{ user_obj.profile.instagram }}"
                           placeholder="Введите свой инстаграм">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in profile_form.instagram.errors %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="instagram" id="instagram" value="{{ user_obj.profile.instagram }}" placeholder="Введите свой инстаграм">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="input__file">Аватар</label>
                <input type="file" name="avatar" id="input__file" class="input input__file" accept="image/*">
                <label for="input__file" class="input__file-button">
                    <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{% static 'bg-elements/plus.svg' %}" alt="Выбрать файл" width="25"></span>
                    <span class="input__file-button-text">Выберите файл</span>
                </label>
            </div>

            <div class="register-btn">
                <button type="submit" class="reg-in">
                    <img src="{% static 'bg-elements/save_btn.svg' %}" alt="ellipse-14">
                </button>
            </div>
        </div>
    </form>

    <script>
    let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
      let label = input.nextElementSibling,
        labelVal = label.querySelector('.input__file-button-text').innerText;

      input.addEventListener('change', function (e) {
        let countFiles = '';
        if (this.files && this.files.length >= 1)
          countFiles = this.files.length;

        if (countFiles)
          label.querySelector('.input__file-button-text').innerText = this.files[0].name;
        else
          label.querySelector('.input__file-button-text').innerText = labelVal;
      });
    });
</script>
{% endblock content %}