{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Продление подписки
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="renew_subscr_background"></div>
    <div class="renew_subscr_container">
        <p class="renew_subscr_title">Действие вашей подписки истекло!</p>
        <a href="#"><img src="{% static 'bg-elements/subscription.svg' %}" alt=""></a>
    </div>
    <img src="{% static 'bg-elements/ellipse_group_5.svg' %}" alt="ellipse" class="ellipse_group_5">
{% endblock %}