{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Подписка в клуб
{% endblock %}


{% block content %}
    <div class="subscription_background"></div>
    <div class="subscription_container">
        <h2 class="subscription_title">Стоимость подписки</h2>
        <div>
            <a href="#" class="subscription_tariff">1 месяц - 490 рублей</a>
            <a href="#" class="subscription_tariff subscription_tariff2">3 месяца - 1250 рублей</a>
        </div>
        <div>
            <p class="subscription_main_text">Дата окончания Вашей подписки</p>
        </div>
        <a href="#"><img src="{% static 'bg-elements/subscription.svg' %}" alt="Subscribe"></a>

        {% if user.is_paid and user.is_authenticated %}
            <div class="subscription_cancel">
                <a href="#" class="subscription_main_text subscription_cancel_link">Отменить подписку</a>
            </div>
        {% endif %}
    </div>
    <img src="{% static 'bg-elements/ellipse-26.svg' %}" alt="ellipse" class="ellipse-26">
{% endblock %}