{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="background bg-questions"></div>
    <div class="main-container page-container">

        <div class="question-head">
            {% if user.id == user_obj.id %}
                Вопросы, заданные Вами

                <div class="send-question">
                    <button id="modal-btn" class="send-question-btn">
                        Задать новый вопрос
                    </button>
                </div>

            {% else %}
                {{ user_obj.first_name }} {{ user_obj.last_name }}
            {% endif %}
        </div>

        <div class="side-menu">
            <a href="{% url 'subscription' %}">
                <div class="subscription">
                    Подписка
                </div>
            </a>

            <a href="{% url 'questions' user_obj.id %}">
                <div class="question">
                    Вопросы
                </div>
            </a>

            <a href="{% url 'profile' user_obj.id %}">
                <div class="private-office">
                    Личный кабинет
                </div>
            </a>

        </div>

        <div id="container" class="question-list">

            {% for question in questions %}
                    <div class="question-wrapp" data-id="{{ question.pk }}">

                        {% if question.is_moderated and not user.profile.is_admin %}
                            <span class="have-answer badge rounded-pill">есть ответ</span>
                        {% elif not question.is_moderated and user.profile.is_admin %}
                            <span class="have-answer wait-answer badge rounded-pill">ожидается ответ</span>
                        {% endif %}

                        <div class="question-text">
                            {{ question.body }}
                        </div>

                        <div class="question-circle circle-{{ question.pk }}">
                            <img src="{% static 'bg-elements/arrow-down.svg' %}" alt="">
                        </div>
                    </div>

                    <div class="dialog" id="{{ question.pk }}">

                        <div id="answers-list-{{ question.pk }}">
                            <div class="question">
                            <div class="question-author">
                                {% if question.author.profile.avatar %}
                                    <img class="question-author-avatar" src="{{ question.author.profile.avatar.url }}" alt="">
                                {% else %}
                                    <div class="question-author-no-avatar">
                                        <img class="author-no-avatar" src="{% static 'bg-elements/photo.svg' %}" alt="">
                                    </div>
                                {% endif %}

                                <div class="question-author-name">
                                    {% if question.author.first_name %}
                                        {{ question.author.first_name }} {{ question.author.last_name }}
                                    {% else %}
                                        {{ question.author.username }}
                                    {% endif %}
                                </div>

                            </div>

                            {{ question.body }}

                            <div class="question-user-date">
                                {{ question.created_at }}
                            </div>

                            <div class="line"></div>

                        </div>

                            {% for answer in answers %}
                            {% if answer.comment == question %}

                                <div class="question">

                                {% if answer.author.profile.is_admin %}
                                    <div class="question-author-admin">
                                {% else %}
                                    <div class="question-author">
                                {% endif %}

                                        {% if answer.author.profile.avatar %}
                                            <img class="question-author-avatar" src="{{ answer.author.profile.avatar.url }}" alt="">
                                        {% else %}
                                            <div class="question-author-no-avatar">
                                                <img class="author-no-avatar" src="{% static 'bg-elements/photo.svg' %}" alt="">
                                            </div>
                                        {% endif %}

                                        <div class="question-author-name">
                                            {% if answer.author.first_name %}
                                                {{ answer.author.first_name }} {{ answer.author.last_name }}
                                            {% else %}
                                                {{ answer.author.username }}
                                            {% endif %}
                                        </div>

                                    </div>

                                    {{ answer.body }}

                                    {% if answer.author.profile.is_admin %}
                                        <div class="question-admin-date">
                                    {% else %}
                                        <div class="question-user-date">
                                    {% endif %}
                                        {{ answer.created_at }}
                                    </div>

                                    <div class="line"></div>

                                </div>

                            {% endif %}
                        {% endfor %}
                        </div>

                        <div class="send-question">
                            <button class="send-question-btn" data-target="addition" data-id="{{ question.pk }}">
                                Дополнить вопрос
                            </button>
                        </div>

                    </div>

            {% endfor %}
        </div>
    </div>

    <img class="ellipse-25" src="{% static 'bg-elements/ellipse-25.svg' %}" alt="">

    <div hidden id="modal-form" class="modal-form hidde-modal">
            {% csrf_token %}

            <textarea name="body" id="body" cols="30" rows="7"></textarea>

            <input type="hidden" id="user-pk" value="{{ user.pk }}">
            <input type="hidden" id="question-pk" value="">

    </div>

    <div hidden id="btn-send" class="move-to-hide disabled">
        <div id="send-flash" class="flashing-on">
            <img src="{% static 'bg-elements/send-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

    <div hidden id="btn-add" class="move-to-hide disabled">
        <div id="add-flash" class="flashing-on">
            <img src="{% static 'bg-elements/complement-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

{#    <div hidden id="btn-add" class="move-to-hide disabled">#}
{#        <img src="{% static 'bg-elements/complement-question.svg' %}" alt="" id="add-icon" class="flashing-on">#}
{#    </div>#}

{#    <img hidden src="{% static 'bg-elements/send-question.svg' %}" alt="" class="move-to-hide disabled" id="btn-send">#}
{#    <img hidden src="{% static 'bg-elements/complement-question.svg' %}" alt="" class="move-to-hide disabled" id="btn-add">#}

    <div hidden id="send-bg" class="modal-bg to-light disabled"></div>
    <div hidden id="add-bg" class="modal-bg to-light disabled"></div>

{% endblock %}