{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="pass_reset_background"></div>
    <div class="pass_reset_container">
  	 	<h2 class="mt-3 pass_reset_subtitle_font">Восстановление пароля</h2>
		<hr>
		<p class="pass_reset_main_text">Забыли пароль? Введите вашу электронную почту и мы вышлем вам инструкции по восстановлению пароля.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="pass_reset_input_label" for="id_email">Электронная почта:</label>
                <div class="input_border">
                    <input class="pass_reset_input" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                </div>
            </div>

            <button class="send_btn" type="submit">
                <img src="{% static 'bg-elements/send_btn.svg' %}" alt="Отправить">
            </button>
        </form>
  	</div>
    <img class="ellipse-26" src="{% static 'bg-elements/ellipse-26.svg' %}" alt="ellipse">
{% endblock %}