{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="pass_reset_container">
        <h2 class="mt-3 pass_reset_subtitle_font">Письмо с инструкциями по восстановлению пароля отправлено</h2>
        <hr>
        <p class="pass_reset_main_text">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
        <p class="pass_reset_main_text">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    </div>
    <img class="ellipse-19" src="{% static 'bg-elements/ellipse-19.svg' %}" alt="ellipse">
{% endblock %}