{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="pass_complete_background"></div>
    <div class="pass_reset_container">
	    <h2 class="pass_reset_subtitle_font mt-3">Пароль восстановлен</h2>
		<hr>
        <p class="pass_reset_main_text">Ваш пароль восстановлен. Вы можете войти в вашу учетную запись, используя новый пароль.</p>
        <a href="{% url 'login' %}" class="send_btn">
            <img src="{% static 'bg-elements/loginlogin.svg' %}" alt="">
        </a>
    </div>
    <img class="ellipse_group_5" src="{% static 'bg-elements/ellipse-38.svg' %}" alt="ellipse">
{% endblock %}