{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Вход в учетную запись
{% endblock %}


{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}

{% block content %}
    <div class="page-container">

        <div class="title-center">
            <h1>Вход</h1>
            <p>Введите логин и пароль</p>
        </div>
        <img class="login-ellipse-13" src="{% static 'bg-elements/ellipse-13.svg' %}" alt="ellipse">

        <div class="login-fields-block">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div>
                    <label class="input-label" for="username">Имя пользователя</label>
                </div>
                <div>
                    <input type="text"  class="input-style input_div" name="username" id="username" required>
                </div>
                <div>
                    <label class="input-label" for="password">Пароль</label>
                </div>
                <div>
                    <input type="password"  class="input-style input_div" name="password" id="password" required>
                    {% if form.errors %}
                        {{ form.non_field_errors }}

                    {% endif %}
                </div>
                <div style="position: relative">
                    <button type="submit" class="log-in"><img src="{% static 'bg-elements/loginlogin.svg' %}" alt=""></button>
                    <div class="register password_reset"><a href="{% url 'password_reset' %}">Забыли пароль?</a></div>
                </div>
            </form>

            <div class="title-center">
                <p>или</p>
            </div>
            <div class="register"><a href="{% url 'signup' %}">Зарегистрироваться</a></div>
        </div>
    </div>
{% endblock %}