{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block navbar %}
    <div class="logo_center">
        <div class="navigation_register">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'bg-elements/logo.svg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block content %}
    <div class="rectangle-7">
        <img class="ellipse-6" src="{% static 'bg-elements/ellipse-6.svg' %}" alt="ellipse">
        <img class="vector-4" src="{% static 'bg-elements/vector-4.svg' %}" alt="vector">
    </div>
    <div class="warning">
        <h1>Внимание</h1>
        <p>Клуб - это пространство для общения, а не врачебная консультация.</p>
        <p class="left-margin">Мы <span>НЕ ставим</span> диагнозы,<br> <span>НЕ интерпретируем</span> ваши анализы <br> и <span>НЕ даем рекомендаций</span> по лечению заболеваний.</p>
        <p>В клубе вы можете углубить знания, получить инструменты для оценки вашего здоровья и методы работы с ним.</p>
    </div>
    <div class="title-absolute">
        <div class="title-center">
            <h1>Регистрация</h1>
            <h5>Заполните все поля для ввода</h5>
        </div>
    </div>
    <img class="ellipse-14" src="{% static 'bg-elements/ellipse-14.svg' %}" alt="ellipse-14">
    <img class="ellipse-13" src="{% static 'bg-elements/ellipse-13.svg' %}" alt="ellipse-13">
    <img class="ellipse-12" src="{% static 'bg-elements/ellipse-12.svg' %}" alt="ellipse-12">
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="input-block">
            <div>
                <label class="input-label" for="name">Имя*</label>
            </div>
            <div class="input_div">
                {% if form.errors.first_name %}
                    <input type="text" class="input-style" name="first_name" id="name" value="{{ data.first_name }}" placeholder="Введите имя"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.first_name %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="first_name" id="name" value="{{ data.first_name }}" placeholder="Введите имя">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="last_name">Фамилия*</label>
            </div>
            <div class="input_div">
                {% if form.errors.last_name %}
                    <input type="text" class="input-style" name="last_name" id="last_name" value="{{ data.last_name }}" placeholder="Введите фамилию"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.last_name %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="last_name" id="last_name" value="{{ data.last_name }}" placeholder="Введите фамилию">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="username">Имя пользователя*</label>
            </div>
            <div class="input_div">
                {% if form.errors.username %}
                    <input type="text" class="input-style" name="username" id="username" value="{{ data.username }}" placeholder="Введите имя пользователя"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.username %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="username" id="username" value="{{ data.username }}" placeholder="Введите имя пользователя">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="phone">Номер телефона*</label>
            </div>
            <div class="input_div">
                {% if form.errors.phone or form.non_field_errors %}
                    <input type="tel" class="input-style" name="phone" id="phone" value="{{ data.phone }}" placeholder="Введите номер телефона"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.phone %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                    </div>
                {% else %}
                    <input type="tel" class="input-style" name="phone" id="phone" value="{{ data.phone }}" placeholder="Введите номер телефона">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="email">Email*</label>
            </div>
            <div class="input_div">
                {% if form.errors.email or form.non_field_errors %}
                    <input type="text" class="input-style" name="email" id="email" value="{{ data.email }}" placeholder="Введите email"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.email %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="email" id="email" value="{{ data.email }}" placeholder="Введите email">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="birth_date">Дата рождения*</label>
            </div>
            <div class="input_div">
                {% if form.errors.birth_date %}
                    <input type="date" class="input-style" name="birth_date" id="birth_date" value="{{ data.birth_date }}"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.birth_date %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="date" class="input-style" name="birth_date" id="birth_date" value="{{ data.birth_date }}">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="instagram">Профиль в инстаграм*</label>
            </div>
            <div class="input_div">
                {% if form.errors.instagram %}
                    <input type="text" class="input-style" name="instagram" id="instagram" value="{{ data.instagram }}"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.instagram %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="input-style" name="instagram" id="instagram" value="{{ data.instagram }}">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="password">Пароль*</label>
            </div>
            <div class="input_div">
                {% if form.errors.password1 %}
                    <input type="password" class="input-style" name="password1" id="password" placeholder="Введите пароль"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.password1 %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="password" class="input-style" name="password1" id="password" placeholder="Введите пароль">
                {% endif %}
            </div>

            <div>
                <label class="input-label" for="password_confirm">Повторите пароль*</label>
            </div>
            <div class="input_div">
                {% if form.errors.password2 %}
                    <input type="password" class="input-style" name="password2" id="password" placeholder="Введите пароль повторно"
                        style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert">
                        {% for error in form.errors.password2 %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="password" class="input-style" name="password2" id="password" placeholder="Введите пароль повторно">
                {% endif %}
            </div>

            <div class="title-center">Были ли Вы на консультации у Хисамовой Ирины Валерьевны?</div>
            <div class="form_toggle">
                <div class="form_toggle-item item-1">
                    <input id="fid-1" type="radio" name="personal_consultation" value="True" checked>
                    <label for="fid-1">Да</label>
                </div>
                <div class="form_toggle-item item-2">
                    <input id="fid-2" type="radio" name="personal_consultation" value="False">
                    <label for="fid-2">Нет</label>
                </div>
            </div>
            <div class="register-btn">
                <button type="submit" class="reg-in">
                    <img src="{% static 'bg-elements/register_btn.svg' %}" alt="ellipse-14">
                </button>
            </div>
        </div>
    </form>
{% endblock content %}