{% extends 'base_new.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}

{% block menu_links %}
    <li><a href="{% url 'index' %}">Назад</a></li>
    <li><a href="#">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
    <div class="page-container">

        <div class="title-center">
            <h1>Смена пароля</h1>
        </div>
        <img class="login-ellipse-13" src="{% static 'bg-elements/ellipse-13.svg' %}" alt="ellipse">

        <div class="login-fields-block">
            <form action="{% url 'user_password_change' user_obj.pk %}" method="post">
                {% csrf_token %}

                <div>
                    <label class="input-label" for="old_password">Старый пароль</label>
                </div>
                <div>
                    <input type="password" class="input-style input_div" name="old_password" id="old_password">
                    {% if form.errors.old_password %}
                        {{ form.errors.old_password }}
                    {% endif %}
                </div>

                <div>
                    <label class="input-label" for="password">Новый пароль</label>
                </div>
                <div>
                    <input type="password" class="input-style input_div" name="password" id="password">
                    {% if form.errors.password %}
                        {{ form.errors.password }}
                    {% endif %}
                </div>

                <div>
                    <label class="input-label" for="password_confirm">Подтвердите пароль</label>
                </div>
                <div>
                    <input type="password" class="input-style input_div" name="password_confirm" id="password_confirm">
                    {% if form.errors.password_confirm %}
                        {{ form.errors.password_confirm }}
                    {% endif %}
                </div>

                <div style="position: relative">
                    <button type="submit" class="log-in"><img src="{% static 'bg-elements/group-8.svg' %}" alt=""></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}