{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-between">
    <div style="width: 30%"><a href="{% url 'med:content_article_list' %}">
    <div class="card bg-dark text-white">
      <img src="{% static 'img/demo.jpg' %}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title text-center" style="margin-top: 40%; color: black; font-size: 25px">Статьи</h5>
      </div>
    </div>
       </a> </div>
     <div style="width: 30%"><a href="">
    <div class="card bg-dark text-white">
      <img src="{% static 'img/demo.jpg' %}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title text-center" style="margin-top: 40%; color: black; font-size: 25px">Видео</h5>
      </div>
    </div>
        </a></div>
     <div style="width: 30%"><a href="">
    <div class="card bg-dark text-white">
      <img src="{% static 'img/demo.jpg' %}" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title text-center" style="margin-top: 40%; color: black; font-size: 25px">Фото</h5>
      </div>
    </div>
       </a> </div>
    </div>
{% endblock %}
