/* register form */
form.row.g-3 {
    max-width: none !important;
    padding: 0 !important;
}

.not-visible {
    display: none;
}

.results-card {
    width: 50%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
    transition: 0.5s;
    border-radius: 7px;
    padding: 15px 15px;
    margin: 0 auto;
}

.item {
    text-decoration: none;
}

.game-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* главная страница */
.ellipse-4 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 176px;
}

.ellipse-3 {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 534px;
}

.ellipse-34 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 371px;
}

.ellipse-37 {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

.IMG_6233-671 {
    width: 290px;
    margin: 20px auto;
}

.linked_path_group {
    position: absolute;
    right: 43px;
    top: 551px;
}

.logo_mainpage {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo_img{
    width: 26vw;
    height: 10vh;
}

.login_btn {
    background-color: #FCD5A6;
    width: 103px;
    height: 29px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn>a {
    margin: 2%;
}

.title-center {
    text-align: center;
    width: 80%;
    margin: 5% auto;
}

.title-center>h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
}

.title-center>h5, .title-center>p {
    font-size: 22px;
}

.about_me {
    width: 33.5vw;
    height: 5.5vh;
    background-color: #F5B2B6;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.about_club_link {
    width: 45.8vw;
    height: 5.5vh;
    background-color: #7ACFC8;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    margin: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content_titles {
    width: 57.8vw;
    height: 5.5vh;
    background-color: #C1B3D1;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    margin: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.only_one_content {
    width: 75vw;
    height: 5.5vh;
    background-color: #FCD5A6;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    margin: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.block_login {
    display: flex;
    align-items: center;
}

.link_block {
    width: 70%;
    margin-top: 20%;
    margin-bottom: 5%;

}

.page-container>h4 {
    width: 70%;
    margin: 0 auto 10%;
}

/* страница входа */
.login-ellipse-13 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 38px;
}

.input_div {
    margin-bottom: 4%;
}

.input-style {
    width: 286.41px;
    height: 44px;
    background-color: transparent;
    border-radius: 0 40px 40px 0;
    font-size: 23px;
    padding: 0 12px 0 30px;
}

.error_style {
    margin-left: 30px;
    color: red;
}

.error_border {
    border: 1px solid red;
}

.publish_btn {
    background-color: #B2A2C6 !important;
    color: white !important;
    width: 100%
}

#username {
    border: 1px solid #7ACFC8;
}

#password {
    border: 2px solid #F5B2B6;
}

#name, #password_confirm {
    border: 2px solid #CABFD6;
}

#last_name {
    border: 2px solid #F5B2B6;
}

#phone, #old_password {
    border: 2px solid #7ACFC8;
}

#birth_date{
    border: 2px solid #A2D9F7;
}

#email {
    border: 2px solid #FCD5A6;
}

#instagram {
    border: 2px solid #CABFD6;
}

.register {
    width: 45.8vw;
    height: 5.5vh;
    background-color: #7ACFC8;
    text-align: right;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    margin: 5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.password_reset{
    background-color: #CABFD6;
}

.log-in {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 12px;
}

.reg-in {
    background-color: transparent;
    border: none;
}

.back-link {
    width: 80px;
    height: 40px;
    font-size: 21px;
    margin-left: 7%;
    font-style: italic;
}

.about_me_div {
    width: 39vw;
    height: 4.5vh;
    background-color: #F5B2B6;
    text-align: center;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-center>.about_me_subtitle {
    font-size: 20px;
    line-height: 30px;
}

.about-me-ellipse-15 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 178px;
}

.title-center>.about_me_desc {
    font-size: 18px;
    line-height: 33px;
    text-align: justify;
    margin-top: 10%;
}

.contact_link {
    display: flex;
}

.rectangle-7 {
    height: 633px;
    background-image: url('../bg-elements/rectangle-7.svg');
    background-size: 100%;
}

.vector-6 {
    height: 633px;
    background-image: url('../bg-elements/vector-6.svg');
    background-size: 100%;
}

.ellipse-6 {
    position: absolute;
    left: 0;
    top: 199px;
}

.vector-4 {
    position: absolute;
    right: 0;
    top: 375px;
}

.warning {
    position: absolute;
    top: 170px;
    width: 75%;
    left: 53px;
}

.warning>.left-margin {
    margin: 5% 0 5% 10%;
}

.warning>p>span {
    font-weight: bold;
}


.title-absolute{
    position: absolute;
    top: 560px;
    left: 49px;
}
.ellipse-14 {
    position: absolute;
    right: 0;
    top: 375px;
}

.ellipse-13 {
    position: absolute;
    right: 0;
    top: 375px;
}

.ellipse-12 {
    position: absolute;
    right: 0;
    top: 375px;
}

.login-fields-block {
    margin-top: 10%;
}

.input-block {
    margin-top: 20%;
}

.input-label {
    font-family: Cormorant sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.ellipse-14 {
    position: absolute;
    left: 0;
    top: 680px;
}

.ellipse-13 {
    position: absolute;
    right: 0;
    top: 768px;
}

.ellipse-12 {
    position: absolute;
    left: 0;
    top: 1239px;
    z-index: -1;
}

.ellipse-21 {
    position: absolute;
    right: 0;
    top: 800px;
    z-index: -1;
}

.ellipse-22 {
    position: absolute;
    left: 0;
    top: 1192px;
    z-index: -1;
}

.ellipse-23 {
    position: absolute;
    right: 0;
    top: 1607px;
    z-index: -1;
}

.problem-list-ul {
    list-style-image: url("../bg-elements/Vector.svg");
    list-style-position: outside;
    font-size: 18px;
    line-height: 40px;
}

.dark-box {
    position: absolute;
    width: 190px;
    height: 138px;
    color: white;
    padding: 3%;
    font-weight: 900;
    border-radius: 40px;
    top: 1115px;
    background-color: rgba(5, 5, 5, 0.6);
}


/* радиокнопка */

.form_toggle {
	/*display: inline-block;*/
	overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.form_toggle-item {
	float: left;
	display: inline-block;
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
    padding: 0 57px;
    line-height: 44px;
    border: 1px solid #999;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.form_toggle .item-1 label {
    border-radius: 0 40px 40px 0;
}
.form_toggle .item-2 label {
	border-radius: 40px 0 0 40px;
}

/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
	background: #F5B2B6;
    border: 2px solid #F5B2B6;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #7ACFC8;
    border: 2px solid #7ACFC8;
}

/* end */

.register-btn {
    width: 35%;
    margin: 10% 30% 0 47%;
}


.online {
    width: 60vw;
    height: 5.5vh;
    background-color: #FCD5A6;
    text-align: right;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    padding-top: 11px;
}

.online-ellipse-19 {
    z-index: -1;
    position: absolute;
    top: 1290px;
}

.offline {
    width: 77.5vw;
    height: 5.5vh;
    background-color: #FCD5A6;
    text-align: right;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    padding-top: 11px;
}

.about-club {
    margin-top: 7%;
    width: 62vw;
    height: 5.5vh;
    background-color: #F5B2B6;
    text-align: right;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.about_club_subtitle {
    margin-top: 3rem;
}

.club-purpose {
    height: auto;
    width: 69vw;
    text-align: left;
    font-size: 17px;
    padding: 7px 42px;
}

.link-group {
    text-align: right;
    padding-right: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price {
    background-color: #FCD5A6;
}

.club-linked-btn {
    padding: 7%;
}

.title-center>.price-desc {
    line-height: normal;
}

.title-center>.price-desc-2 {
    line-height: normal;
    margin-top: 25%;
}

.title-center>.left_align {
    text-align: left
}

.offline-ellipse-20 {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 154px;
}

.info-offline {
    background-color: #7ACFC8;
}

.offline-ellipse-17-1 {
    z-index: -1;
    position: absolute;
    top: 2478px;
}

.errorlist {
    color: red;
}

.page-container {
    margin-top: 20px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
}

.input__file-icon-wrapper {
  height: 44px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #F5B2B6;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
     width: 100%;
    max-width: 290px;
    height: 44px;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    border: 2px #F5B2B6 solid;
}

/*Восстановление пароля*/
.pass_reset_container {
    margin: 0 auto;
    width: 80vw;
}

.pass_reset_background {
    background-color: #A2D9F7;
    top: 0;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.38;
}

.pass_reset_subtitle_font {
    font-family: Cormorant;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.pass_reset_input_border {
    margin-left: -10vw;
    height: 42px;
    border: 2px solid #CABFD6;
    border-radius: 0 100px 100px 0 / 0 75px 75px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    width: 75%;
}

.pass_reset_input_label{
    font-family: Cormorant sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.pass_reset_input {
    background-color: transparent !important;
    border: none;
    width: 90%;
}

.pass_reset_input:focus {
    outline: none !important;
    background-color: transparent !important;
}

.pass_reset_main_text {
    margin-bottom: 3rem;
    font-size: 18px;
    text-align: justify;
}

.send_btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: inherit;
    padding: 0;
    top: inherit;
}

.ellipse-26 {
    z-index: -1;
    right: 0;
    position: absolute;
    bottom: 3rem;
}

.ellipse-19 {
    z-index: -1;
    right: 0;
    position: absolute;
    left: 0;
    top: 330px;
}

.pass_complete_background {
    background-color: #F5B2B6;
    top: 0;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.19;
}

.review_item {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.review_pic_div {
    display: flex;
    align-items: center;
}

.review_pic {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    box-shadow: -1px 8px 7px -4px rgba(0,0,0,0.54);
    -webkit-box-shadow: -1px 8px 7px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 8px 7px -4px rgba(0,0,0,0.54);
}

.review_text {
    white-space: break-spaces; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    max-width: 180px; /* Ширина*/
    height: 150px; /* Высота*/
    text-overflow: ellipsis; /* Добавляем многоточие */
    }

.review_author {
    text-align: center;
    font-size: 12px;
    margin-top: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    width: 10% !important;
}

.carousel-control-next-icon {
    background-image: url("/static/bg-elements/arrow_right.svg") !important;
}

.carousel-control-prev-icon {
    background-image: url("/static/bg-elements/arrow_left.svg") !important;
}


/*Подписка*/
.subscription_background {
    top: 0;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #A2D9F7;
    opacity: 0.38;
}

.subscription_container {
    position: relative;
    width: 80vw;
    margin: 0 auto;
}

.subscription_title {
    font-family: Cormorant;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 20px 10vw 2rem 10vw;
    text-align: center;
}

.subscription_main_text {
    font-size: 18px;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.subscription_cancel{
    margin-top: 3rem;
    text-align: right;
}

.subscription_cancel_link {
    text-align: right !important;
    border: 2px solid #7ACFC8;
    border-radius: 45px 45px 45px 45px / 75px 75px 75px 75px;
    padding: 8px 10px;
}

.subscription_tariff {
    width: 75%;
    height: 5.5vh;
    background-color: #F5B2B6;
    text-align: left;
    border-radius: 0 40px 40px 0;
    padding-right: 13px;
    margin: 5% 0 5% -10vw;
    padding-left: 10vw;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.subscription_tariff2 {
    background-color: #FCD5A6;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:last-of-type .accordion-button,
.accordion-item:last-of-type,
.accordion-item:first-of-type,
.accordion-item:not(:first-of-type),
.accordion-button {
    border-radius: 40px;
    border: 1px solid;
}


/* Комментарии */
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section .popup-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: scale(1.2);
    transition: opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}

section.active .popup-outer{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

section .popup-box{
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 380px;
    width: 100%;
}

.popup-box .modal-body{
    padding: 1rem 0;
}

.popup-box .close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #b4b4b4;
    transition: all 0.2s ease;
    cursor: pointer;
}

.popup-box .close:hover{
    color: #333;
}

.popup-box textarea{
    min-height: 140px;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    padding: 10px 10px 10px 14px;
    font-weight: 400;
    background: #f3f3f3;
}

.popup-box textarea:focus{
    background: #f3f3f3;
}

.popup-box .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-box .button button{
    outline: none;
    border: none;
    margin-left: 10px;
    background: #6f93f6;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

.button button.cancel{
    background: #f082ac;
}

.button button.cancel:hover{
    background: #ec5f95;
}

.button button.send:hover{
    background: #275df1;
}

/* Регистрация */
.navigation_register {
    padding-top: 38px;
    position: absolute;
}

.logo_center {
    display: flex;
    justify-content: center;
}

/* Фото */
/*.photo_list_container {*/
/*    margin: 0 30px !important;*/
/*    width: auto;*/
/*}*/

.image-content {
    margin: 20px 0;
    max-width: 300px;
}

/* Видео */
.vide_cat_title {
    font-size: 11px;
    background: #FCD5A6;
    padding: 0.15rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #FCD5A6;
}