$green: #66C3D0
$green-1: #82E0D5
$green-2: #7ACFC8
$blue: #A2D9F7
$pink: #F5B2B6
$pink-1: #e9aed2
$pink-2: #D7A1C2
$peach: #FCD5A6
$violet-1: #C1B3D1
$violet-2: #B2A2C6
$grey: #C4C4C4

$font-1: Cormorant


@mixin to-dark
    animation: dark 0.4s linear forwards
    @keyframes dark
        0%
            background-color: rgba(0, 0, 0, 0)
        100%
            background-color: rgba(0, 0, 0, 0.25)

@mixin to-light
    animation: light 0.4s linear forwards
    @keyframes light
        0%
            background-color: rgba(0, 0, 0, 0.25)
        100%
            background-color: rgba(0, 0, 0, 0)

@mixin circle
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100%
    width: 30px
    height: 30px
    background-color: $peach
    pointer-events: none

@mixin rotate-up
    animation: rotate-up 0.2s linear forwards
    @keyframes rotate-up
        0%
            transform: none
        100%
            transform: rotate(180deg)

@mixin rotate-down
    animation: rotate-down 0.2s linear forwards
    @keyframes rotate-down
        0%
            transform: rotate(180deg)
        100%
            transform: rotate(360deg)

// -------------------------------------------------------------------

$head-color: #B2A2C6
$btn-green-1: #66C3D0
    
body
    font-family: HelveticaNeue
    
.navbar
    background-color: $head-color !important
    .logo   
        height: 70px
        width: 80px
        object-fit: cover
    
a 
    text-decoration: none
    color: black

.form_center 
    margin: 0 auto !important

.text_center 
    text-align: center

.login_form_label 
    width: 6rem

.disp_flex
    display: flex
    align-items: center

.profile_menu 
    position: absolute
    right: 100px

.btn-green
    background-color: $btn-green-1
    
.avatar
    display: flex
    justify-content: center
    font-size: 150px
    &-lg
        width: 250px
        height: 250px
        object-fit: cover
        border-radius: 100%
        margin-bottom: 15px 

.name
    display: flex
    flex-direction: column
    align-items: center
    .full_name
        font-style: italic

.info
    font-style: italic

.image-content
    width: 100%
    object-fit: cover

.p-margin
    margin: 10px 0

.flex-wrapp
    display: flex
    justify-content: center
    margin-bottom: 10px

.user-card
    margin-bottom: 30px

.accordion-wrapp
    display: flex
    flex-direction: column

.sidebar-header
    background-color: $head-color

.width-100
    width: 100%


.btn-chat
    position: absolute
    top: -25px
    left: 20px
    font-size: 30px
    color: $head-color
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0 0 10px $head-color
    &:hover
        color: $head-color

.container-relative
    position: relative  

.clip
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    height: 20px

.main-question
    font-style: italic
    font-size: 19px

.question-user-info
    margin: 0 0 -3px -10px
    display: flex
    align-items: center
    &-avatar
        font-size: 20px
        color: $head-color
        &-sm
            width: 20px
            height: 20px
            border-radius: 100%
            object-fit: cover
    &-name
        font-size: 15px
        margin-left: 10px

.question-info-date
    font-size: 12px
    color: rgba(0, 0, 0, 0.65)
    text-align: right
    &::after
        color: $head-color
        width: 20px
        height: 1px

.btn-answer
    margin-bottom: 10px

.input-wrapp
    display: flex
    flex-direction: column
    width: 100%

.errors-list
    padding: 0 
    


// ---------------------------------------------------------------
    
body
    background-image: url(../bg-elements/texture.png)
    position: relative
    font-family: $font-1
    font-style: normal
    min-height: 100vh
    margin: 0
    padding-bottom: 20px


a
    text-decoration: none
    &:hover
        color: #000 


p
    margin-bottom: 6px


.navigation
    padding-top: 38px

    .logo
        display: flex
        justify-content: center
    
    .menu-btn
        position: absolute
        top: 62px
        right: 66px
        .line
            margin-bottom: 6px
            width: 20px
            height: 2px
            background-color: black

    .to-show
        animation: show 0.4s ease-out forwards
        @keyframes show
            0%
                transform: translateX(315px)
            100%
                transform: none

    .to-hide
        animation: hide 0.4s ease-out forwards
        @keyframes hide 
            0%
                transform: none
            100%
                transform: translateX(315px)

    .to-dark
        @include to-dark

    
    .to-light
        @include to-light

    
    .hidden-bg
        position: fixed
        top: 0
        right: 0
        width: 100vw
        height: 100vh
        z-index: 1

    
    .img-close
        pointer-events: none


    .hidden-menu
        overflow: hidden
        position: absolute
        top: 0
        right: 0    
        width: 100vw
        height: 100vh
        z-index: 1
        .menu
            position: absolute
            top: 0
            right: 0
            width: 315px
            height: 572px   
            background-color: $peach
            z-index: 2
            &-logo
                margin-top: 40px
                height: 82px
                width: 94px
            &-close
                background-color: rgba(0, 0, 0, 0)
                border: none
                position: absolute
                top: 40px
                right: 40px
            &-links
                display: flex
                flex-direction: column
                align-items: flex-end
                position: absolute
                right: 0
                top: 90px
                &-item
                    height: 32px
                    min-width: 191px
                    margin-bottom: 16px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    text-align: end
                    border-radius: 100px 0 0 100px
                    &-text
                        display: inline-block
                        margin: 0
                        padding: 0 40px 0 12px
                &-pink
                    background: rgba(245, 178, 182, 0.55)
                &-blue
                    background: rgba(162, 217, 247, 0.55)
                &-green-1
                    background: rgba(130, 224, 213, 0.55)
                &-pink-1
                    background: rgba(233, 174, 210, 0.6)



.background
    top: 0
    z-index: -1
    position: fixed
    width: 100%
    height: 100%


.bg-profile
    background-color: $pink
    opacity: 0.19


.bg-questions
    background-color: $peach
    opacity: 0.53


.main-container
    position: relative
    padding-left: 25px


.side-menu
    position: absolute
    top: -19px
    left: -197px
    display: flex
    transform: rotate(-90deg) translate(-50%, -50%)
    .subscription, .question, .private-office
        display: flex
        align-items: center
        padding-left: 12px
        font-family: $font-1
        font-size: 18px
        border-radius: 17px 0 0 17px
        height: 38px
        width: 142px
        margin-left: 14px
    .subscription
        background-color: $blue
    .question
        background-color: $peach
    .private-office
        background-color: $pink

.avatar
    padding-top: 19px
    &-photo
        width: 141px
        height: 141px
        object-fit: cover
        border-radius: 100%
    .no-photo
        display: flex
        align-items: center
        justify-content: center
        width: 141px
        height: 141px
        background-image: url(../bg-elements/rectangle-56.svg)

.edit-link
    position: absolute
    top: 0
    right: 2px
    &-btn
        display: flex
        justify-content: center
        align-items: center
        width: 104px
        height: 32px
        border: $peach solid 2px
        border-radius: 7px/15px
        font-family: Cormorant
        font-size: 14px
        line-height: 18px
        &:active
            background: $peach

.pass-change-btn
    position: absolute
    top: 0
    left: 40px
    display: flex
    justify-content: center
    align-items: center
    width: 104px
    height: 32px
    border: $peach solid 2px
    border-radius: 7px/15px
    font-family: Cormorant
    font-size: 14px
    line-height: 18px

.full-name, .info
    font-family: $font-1
    font-size: 18px

.full-name
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 5px

.info
    margin-left: 48px
    font-style: normal

.make-review
    position: absolute
    right: 35px
    top: 345px

.question-head
    text-align: center
    font-family: $font-1
    font-weight: 700
    font-size: 24px


.send-question
    margin-top: 16px
    display: flex
    justify-content: center
    &-btn
        background-color: transparent
        display: flex
        justify-content: center
        align-items: center
        width: 174px
        height: 32px
        border: $violet-2 solid 2px
        border-radius: 10px/15px
        font-family: Cormorant
        font-size: 14px
        line-height: 18px
        &:active
            background: $violet-2


.question-list
    display: flex
    flex-direction: column
    align-items: center


.question-wrapp
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin: 16px 0
    border: $violet-2 solid 2px
    border-radius: 20px/30px
    width: 285px
    height: 50px
    .question-text
        width: 223px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        pointer-events: none
    .question-circle
        @include circle
        
    .rotate-up
        @include rotate-up
    .rotate-down
        @include rotate-down


.dialog
    overflow: hidden
    display: none
    .question
        width: 260px
        margin-bottom: 20px

        &-author
            display: flex
            align-items: center
            margin-bottom: 5px
            &-avatar
                height: 22px
                width: 22px
                object-fit: cover
                border-radius: 100%
            &-no-avatar
                display: flex
                align-items: center
                justify-content: center
                height: 22px
                width: 22px
                border-radius: 100%
                background-color: $grey
                .author-no-avatar
                    width: 12px
                    height: 10px
                    object-fit: cover
            &-name
                margin-left: 10px
                font-size: 15px

        &-author-admin
            display: flex
            align-items: center
            margin-bottom: 5px
            flex-direction: row-reverse
            .question-author-name
                margin: 0 10px 0 0

.question-user-date, .question-admin-date
    font-size: 15px
    text-align: right
    margin-top: 10px
.question-admin-date
    text-align: left

.line
    background-color: rgba(0, 0, 0, 0.3)
    height: 1px
    width: 80%
    margin-left: 10%
    margin-top: 5px


.modal-form
    position: fixed
    left: 50%
    top: 250px
    z-index: 1
    transform: translateX(-50%)
    width: 90vw
    #body
        border: $violet-2 2px solid
        border-radius: 35px/50px
        font-size: 18px
        padding: 0 20px
        z-index: 2
        width: 100%
        &:focus
            box-shadow: 0 0 10px 10px $violet-1
            outline: none
    .body-label
        margin: 0 0 15px 65px
        font-size: 24px
        font-weight: 700
        font-style: italic


.show-modal
    animation: show-modal 0.5s ease-out forwards
    @keyframes show-modal
        0%
            transform: translateX(-150%)
        100%
            transform: translateX(-50%)

.hidde-modal
    animation: hidde-modal 0.5s ease-out forwards
    @keyframes hidde-modal
        0%
            transform: translateX(-50%)
        100%
            transform: translateX(60%)


.move-to-show
    animation: move-x-to-show 0.8s ease-out forwards
    @keyframes move-x-to-show
        0%
            transform: translateX(-340%) rotate(-150deg)
        100%
            transform: translateX(-50%) rotate(0deg)

.move-to-hide
    animation: move-to-hide 0.8s ease-out forwards
    @keyframes move-to-hide
        0%
            transform: translateX(-50%) rotate(0deg)
        100%
            transform: translateX(270%) rotate(150deg)





#btn-send, #btn-add
    position: fixed
    left: 50%
    bottom: 11vh
    transform: translateX(-50%)
    z-index: 1

#send-flash, #add-flash
    border-radius: 100%
    width: 84px
    height: 84px

.btn-icon
    position: absolute
    top: -23px
    left: -22px


.flashing-on
    animation: flashing-on 1.5s linear forwards
    @keyframes flashing-on
        0%
            box-shadow: 0px 0px 0px 0px $peach
        100%
            box-shadow: 0px 0px 15px 18px $peach

.flashing-off
    animation: flashing-off 1.5s linear forwards
    @keyframes flashing-off
        0%
            box-shadow: 0px 0px 15px 18px $peach
        100%
            box-shadow: 0px 0px 0px 0px $peach


.modal-bg
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw

.to-dark
    @include to-dark

.to-light
    @include to-light



.ellipse-24
    z-index: -1
    position: absolute
    right: 0
    top: 335px

.ellipse-25
    z-index: -2
    position: absolute
    right: 0
    bottom: 0


@media (max-width: 359px)
    body
        min-height: 110vh

    .question-wrapp
        width: 260px
        padding: 0 10px

    .show-body
    animation: show-body 0.5s linear forwards
    @keyframes show-body
        0%
            width: 174px
            height: 0
        100%
            width: 310px
            height: 166px

    .show-btn-send
        animation: show-btn-send 0.6s ease-out forwards
        @keyframes show-btn-send
            0%
                transform: translate(-50%, 160px)
            100%
                transform: translate(-50%, 15px)

.ellipse-34
    z-index: -1
    position: absolute
    top: 371px
    right: 0

.ellipse-35
    z-index: -1
    position: absolute
    left: 0
    bottom: 20px

.ellipse-37
    position: absolute
    z-index: -1
    right: 0
    bottom: 0


.photo_list_container
    margin: 16px 30px
    width: auto

.photo_list_background
    top: 0
    z-index: -1
    position: fixed
    width: 100%
    height: 100%
    background-color: $pink
    opacity: 0.25

.category_search
    margin-bottom: 1.5rem

.category_search_title
    margin-top: 3rem
    height: 22px

    font-family: Cormorant
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 22px

    display: flex
    align-items: center

.input_border
    margin-top: 1rem
    margin-left: -10vw
    height: 42px
    border: 2px solid #CABFD6
    border-radius: 0px 100px 100px 0px / 0px 75px 75px 0px
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 10vw

.category_search_input
    width: 200px
    height: 42px
    padding: 0
    font-family: Cormorant
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 22px
    display: flex
    align-items: center
    color: rgba(0, 0, 0, 0.54)
    background-color: transparent
    border: none

.category_search_input:focus
    outline: none !important
    background-color: transparent !important

.search_input_dropdown
    display: flex
    justify-content: space-between
    align-items: center

.story_thumbnail
    width: 86px
    height: 145px
    background: #C4C4C4

.photo_list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.photo_item
    margin-bottom: 1rem

.dropbtn
    background-color: transparent
    border: none
    margin-right: 4px

.categories_dropdown
    position: relative
    display: inline-block

.categories_dropdown_content
    display: none
    position: absolute
    background-color: #f1f1f1
    min-width: 160px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 1

.categories_dropdown_content a
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block

// Modal CSS
.modal
    display: none
    position: fixed
    z-index: 1
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.8)
    overflow: hidden
    transition: all 1s ease
    &.open
        display: block

    .modal-body
        position: absolute
        left: 50%
        top: 50%
        max-width: 700px
        transform: translate(-50%, -50%)
        @media only screen and (max-width: 991px)
            width: 100%
        .modal-image
            margin: auto
            display: block
            width: 100%
            height: auto
        >span
            position: absolute
            top: -15px
            right: 0
            color: #f1f1f1
            font-size: 30px
            font-weight: bold
            &:hover
                color: blue
                cursor: pointer
            &:focus
                color: blue
                cursor: pointer

@media only screen and (max-width: 991px)
    .modal-image
        width: 100%

.renew_subscr_background
    top: 0
    z-index: -1
    position: fixed
    width: 100%
    height: 100%
    background-color: $peach
    opacity: 0.32

.renew_subscr_container
    text-align: center
    position: relative

.ellipse_group_5
    z-index: -1
    position: absolute
    right: 0
    bottom: 0
    margin: 0 auto

.renew_subscr_title
    font-family: Cormorant
    font-weight: 600
    font-size: 24px
    line-height: 32px
    margin: 3rem 10vw 1.5rem 10vw

// Восстановление пароля
.pass_reset_background
    background-color: #A2D9F7
    top: 0
    z-index: -1
    position: fixed
    width: 100%
    height: 100%
    opacity: 0.38


.category-head
    margin: 12px 0 0 39px 

.input-wrapp
    margin-top: 11px
    position: relative
    width: 289px
    .circle-cat
        position: absolute
        right: 10px
        top: 7px
        @include circle
    .rotate-up
        @include rotate-up
    .rotate-down
        @include rotate-down
    .arrow
        pointer-events: none

#search
    background-color: rgba(0, 0, 0, 0)
    padding-left: 38px
    height: 44px
    width: 100%
    border-radius: 0 25px 25px 0/ 0 20px 20px 0
    border: 2px solid $violet-2
    border-left: none
    &:focus
        outline: none

.box
    padding: 7px 0 7px 38px
    margin-right: 27px
    border: 2px solid $violet-2
    border-left: none 
    border-radius: 0 13% 13% 0/ 0 30% 30% 0

.category-container
    position: relative

.btn-cat, .btn-submit
    margin-right: 20px
    padding: 0 10px
    height: 31px
    background-color: rgba(0, 0, 0, 0)
    border: 2px solid
    font-size: 18px
    width: max-content
    border-radius: 10px/20px

.btn-submit
    margin: 0
    border: 1px solid
    padding: 0 7px

.sub-cat
    display: inline-block
    margin-bottom: 24px

.submit-box
    position: absolute
    left: 0
    overflow: hidden
    display: none
    border: 2px solid
    border-radius: 10px/20px
    background-color: #fff
    padding: 10px
    width: 271px

.comment-ring, .comment-ring-answer
    margin: 7px
    width: 30px
    height: 30px
    border-radius: 100%
    background-color: $grey
    display: flex
    justify-content: center
    align-items: center
    .author-no-avatar
        width: 22px

.comment-ring-answer
    margin: 7px 0 0 0

.add-comment-answer
    color: $violet-2
    font-size: 20px
    width: max-content 

.moderation-text
    color: red

.anonymous-icon
    margin-left: 5px

.comment-btn-wrapp
    margin-top: 16px

#anonymous-btn
    display: flex
    flex-direction: column
    align-items: center
    margin-top: -7px
    &-text
        display: none
        pointer-events: none
        background-color: white
        width: 80%
        text-align: center
    &-body
        pointer-events: none
        display: flex
        justify-content: center
        font-size: 30px
        background-color: white
        width: 80%
        border-radius: 0 0 35px 35px / 0 0 30px 30px
        margin-top: -1px

.show-anonymous-text
    animation: show-anonymous-text 0.3s linear forwards
    @keyframes show-anonymous-text
        0%
            background-color: #fff
        100%
            background-color: $violet-2

.hidde-anonymous-text
    animation: hidde-anonymous-text 0.3s linear forwards
    @keyframes hidde-anonymous-text
        0%
            background-color: $violet-2
        100%
            background-color: #fff

.video-wrapp
    display: flex
    justify-content: center

.find-cat
    margin: 16px
    border-color: $violet-2

.not-found
    margin: 16px

.go-unpublished-videos
    margin: 16px 0 0 16px

.have-answer
    position: absolute
    background: $green-2
    color: black
    top: -11px
    right: 42px

.wait-answer
    background: $pink