body {
  font-family: HelveticaNeue;
}

.navbar {
  background-color: #B2A2C6 !important;
}

.navbar .logo {
  height: 70px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.form_center {
  margin: 0 auto !important;
}

.text_center {
  text-align: center;
}

.login_form_label {
  width: 6rem;
}

.disp_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_menu {
  position: absolute;
  right: 100px;
}

.btn-green {
  background-color: #66C3D0;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150px;
}

.avatar-lg {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-bottom: 15px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name .full_name {
  font-style: italic;
}

.info {
  font-style: italic;
}

.image-content {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-margin {
  margin: 10px 0;
}

.flex-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.user-card {
  margin-bottom: 30px;
}

.accordion-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-header {
  background-color: #B2A2C6;
}

.width-100 {
  width: 100%;
}

.btn-chat {
  position: absolute;
  top: -25px;
  left: 20px;
  font-size: 30px;
  color: #B2A2C6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 0 0 10px #B2A2C6;
}

.btn-chat:hover {
  color: #B2A2C6;
}

.container-relative {
  position: relative;
}

.clip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

.main-question {
  font-style: italic;
  font-size: 19px;
}

.question-user-info {
  margin: 0 0 -3px -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-user-info-avatar {
  font-size: 20px;
  color: #B2A2C6;
}

.question-user-info-avatar-sm {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.question-user-info-name {
  font-size: 15px;
  margin-left: 10px;
}

.question-info-date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  text-align: right;
}

.question-info-date::after {
  color: #B2A2C6;
  width: 20px;
  height: 1px;
}

.btn-answer {
  margin-bottom: 10px;
}

.input-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.errors-list {
  padding: 0;
}

body {
  background-image: url(../bg-elements/texture.png);
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

p {
  margin-bottom: 6px;
}

.bg-pink {
  background-color: rgba(245, 178, 182, 0.55);
}

.bg-blue {
  background-color: rgba(162, 217, 247, 0.55);
}

.bg-green-1 {
  background-color: rgba(130, 224, 213, 0.55);
}

.bg-pink-1 {
  background-color: rgba(233, 174, 210, 0.6);
}

.navigation {
  padding-top: 38px;
}

.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .menu-btn {
  position: absolute;
  top: 62px;
  right: 66px;
}

.navigation .menu-btn .line {
  margin-bottom: 6px;
  width: 20px;
  height: 2px;
  background-color: black;
}

.navigation .to-show {
  -webkit-animation: show 0.4s ease-out forwards;
          animation: show 0.4s ease-out forwards;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(315px);
            transform: translateX(315px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateX(315px);
            transform: translateX(315px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.navigation .to-hide {
  -webkit-animation: hide 0.4s ease-out forwards;
          animation: hide 0.4s ease-out forwards;
}

@-webkit-keyframes hide {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(315px);
            transform: translateX(315px);
  }
}

@keyframes hide {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: translateX(315px);
            transform: translateX(315px);
  }
}

.navigation .to-dark {
  -webkit-animation: dark 0.4s linear forwards;
          animation: dark 0.4s linear forwards;
}

@-webkit-keyframes dark {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@keyframes dark {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.navigation .to-light {
  -webkit-animation: light 0.4s linear forwards;
          animation: light 0.4s linear forwards;
}

@-webkit-keyframes light {
  0% {
    background-color: rgba(0, 0, 0, 0.25);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes light {
  0% {
    background-color: rgba(0, 0, 0, 0.25);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.navigation .hidden-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.navigation .hidden-menu {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.navigation .hidden-menu .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 315px;
  height: 572px;
  background-color: #FCD5A6;
  z-index: 2;
}

.navigation .hidden-menu .menu-logo {
  margin-top: 40px;
  height: 82px;
  width: 94px;
}

.navigation .hidden-menu .menu-close {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 40px;
  right: 40px;
}

.navigation .hidden-menu .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  top: 90px;
}

.navigation .hidden-menu .menu-links-item {
  height: 32px;
  min-width: 191px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: end;
  border-radius: 100px 0 0 100px;
}

.navigation .hidden-menu .menu-links-item-text {
  display: inline-block;
  margin: 0;
  padding: 0 40px 0 12px;
}

.background-profile {
  top: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 178, 182, 0.19);
}

.profile-main-container {
  position: relative;
  height: 100vh;
}

.profile-main-container .avatar {
  padding-top: 19px;
}

.profile-main-container .avatar-photo {
  width: 141px;
  height: 141px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.profile-main-container .avatar .no-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 141px;
  height: 141px;
  background-image: url(../bg-elements/rectangle-56.svg);
}

.profile-main-container .edit-link {
  position: absolute;
  top: 0;
  right: 2px;
}

.profile-main-container .edit-link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 104px;
  height: 32px;
  border: #FCD5A6 solid 2px;
  border-radius: 7px/15px;
  font-family: Cormorant;
  font-size: 14px;
  line-height: 18px;
}

.profile-main-container .edit-link-btn:active {
  background: #FCD5A6;
}

.profile-main-container .side-menu {
  position: absolute;
  top: -19px;
  left: -197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
          transform: rotate(-90deg) translate(-50%, -50%);
}

.profile-main-container .side-menu .subscription, .profile-main-container .side-menu .question, .profile-main-container .side-menu .private-office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  font-family: Cormorant;
  font-size: 18px;
  border-radius: 17px 0 0 17px;
  height: 38px;
  width: 142px;
  margin-left: 14px;
}

.profile-main-container .side-menu .subscription {
  background-color: #A2D9F7;
}

.profile-main-container .side-menu .question {
  background-color: #FCD5A6;
}

.profile-main-container .side-menu .private-office {
  background-color: #F5B2B6;
}

.profile-main-container .full-name, .profile-main-container .info {
  font-family: Cormorant;
  font-size: 18px;
}

.profile-main-container .full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.profile-main-container .info {
  margin-left: 48px;
  font-style: normal;
}

.profile-main-container .make-review {
  position: absolute;
  right: 35px;
  top: 305px;
}

.ellipse-24 {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 335px;
}

/*.photo_list_background {*/
/*  background-color: #F5B2B6;*/
/*}*/

.articles_list_background {
  background-color: #FCD5A6;
}

.photo_list_title {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 41px;
  top: 188px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */