{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Список категорий
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}

    <h5 class="category-head">Выбрать актуальные темы</h5>

    {% include 'partial/search_categories_form.html' %}

    <script>window.__INITIALSTATE__ = '{{qs_cat}}'</script>
    <script>let colors = '{{ colors }}'</script>
    <script src="{% static 'js/search.js' %}"></script>

{% endblock %}
