{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Список категорий
{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="accordion" id="accordionExample">
            {% for category in categories %}
                <div class="accordion-item" style="border-color: {{ color }}">
                    <h2 class="accordion-header" id="headingOne{{ category.pk }}">
                        <button class="accordion-button"  style="border-color: {% cycle '#A2D9F7' '#B2A2C6' '#7ACFC8' '#F5B2B6' '#E9AED2' as color %}; background-color: {{ color }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ category.pk }}" aria-expanded="true" aria-controls="collapseOne{{ category.pk }}">
                            {{ category.title }}
                            {% if perms.med.change_category %}
                             <a href="{% url 'med:category_update' category.pk %}"><i class="bi bi-pencil-square"></i></a>
                            {% endif %} 
                           {% if perms.med.delete_category %}
                            <form method="POST" action="{% url "med:category_delete" category.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="bnt btn-danger btn-sm" value="Удалить">
                            </form>
                           {% endif %} 

                        </button>
                    </h2>
                    <div id="collapseOne{{ category.pk }}" class="accordion-collapse collapse" aria-labelledby="headingOne{{ category.pk }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ol>
                                <li><a href="{% url 'med:category_article_list' category.pk %}">Статьи</a></li>
                                <li><a href="{% url 'med:category_photo_list' category.pk %}">Галерея</a></li>
                                <li> <a href="{% url 'med:category_video_list' category.pk %}">Видеоархив</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% if perms.med.add_category %}
    <a class="btn btn-warning mt-3" href="{% url 'med:category_create' %}">Добавить новую категорию</a>
    {% endif %}

    </div>
{% endblock %}