{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container">
        <ol class="list-group list-group-numbered">
            {% for photo in photos %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <a href="{% url 'med:photo_detail' photo.pk %}">{{ photo.title }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}