{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container">
        <h2>Изменить категорию</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <div class="mb-3">
          <label for="title" class="form-label">Название категории</label>
          <input type="text" class="form-control form-control-sm" id="title" name="title" value="{{ category.title }}">
        </div>
        <button type="submit" class="btn btn-secondary">Сохранить</button>
    </form>

    </div>
{% endblock %}
