{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Создание фото
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
    {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="picture" class="form-label">Загрузить картинку*</label>
                {% if form.errors.image %}
                    <input type="file" class="form-control form-control-sm" value="{{ photo.image }}" aria-label="image" name="image" style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.image %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="file" class="form-control form-control-sm" value="{{ photo.image }}" aria-label="image" name="image">
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label" id="title">Описание*</label>
                {% if form.errors.title %}
                    <textarea type="text" class="form-control form-control-sm" aria-label="title" name="title" style="border: 1px solid red;">
                        {{ photo.title }}
                    </textarea>
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.title %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <textarea type="text" class="form-control form-control-sm" aria-label="title" name="title">
                        {{ photo.title }}
                    </textarea>
                {% endif %}
            </div>

            <div class="flex_wrapp">
                {% if form.errors.categories %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%; border: 1px solid red">
                        Добавить категории
                    </button>
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.categories %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%">
                        Добавить категории
                    </button>
                {% endif %}
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header sidebar-header">
                    <h5 id="offcanvasRightLabel">Список категорий</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

            <button type="submit" class="btn btn-sm publish_btn mt-2">Опубликовать</button>

        </form>
    </div>
{% endblock %}