{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Список фото
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    <div class="photo_list_background"></div>

    {% if search_categories %}
        {% include 'partial/search_categories_form.html' %}
    {% else %}
        {% include 'partial/search_content_form.html' %}
    {% endif %}

    {% if not_found %}
        <div class="not-found">
            <b>Ни одной сторис с категорией '{{ search_cat }}' не найдено...</b>
        </div>
        <hr>
    {% elif data %}
        <div class="btn-cat find-cat">
            {{ search_cat }}
        </div>
        <hr>
        <div class="photo_list_container" style="position: relative;">
            <div class="photo_list">
                {% for photo in data %}
                    <div>
                        <img class="story_thumbnail photo_item js-img-thumb" src="{{ photo.image.url }}" alt="">
                        {% if user.profile.is_admin or user.is_superuser %}
                            <div style="margin-top: -10px; margin-bottom: 10px">
                                <a href="{% url 'med:photo_update' photo.pk %}"><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'med:photo_delete' photo.pk %}"><i class="bi bi-trash">  </i></a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="photo_list_container" style="position: relative;">
            <div class="photo_list">
                {% for photo in photos %}
                    <div>
                        <img class="story_thumbnail photo_item js-img-thumb" src="{{ photo.image.url }}" alt="">
                        {% if user.profile.is_admin or user.is_superuser %}
                            <div style="margin-top: -10px; margin-bottom: 10px">
                                <a href="{% url 'med:photo_update' photo.pk %}"><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'med:photo_delete' photo.pk %}"><i class="bi bi-trash">  </i></a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{#    ------- Модальное окно ------ #}
    <div class="modal js-modal">
        <div class="modal-body">
            <span class="bi bi-x-circle js-close"></span>
            <img class="modal-image js-modal-image"/>
        </div>
    </div>

    <script src="{% static 'js/photos.js' %}" defer></script>
    <script>window.__INITIALSTATE__ = '{{qs_cat}}'</script>
    <script>let colors = '{{ colors }}'</script>
    <script src="{% static 'js/search.js' %}"></script>

{% endblock %}