{% extends 'photo/create_update_base.html' %}

{% block title %}
    Редактирование фото
{% endblock %}

{% block sidebar %}

    {% for category in categories %}
        {% if category in photo.categories.all %}
            <div class="form-check">
                <input class="form-check-input" checked name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
            </div>
        {% endif %}
    {% endfor %}


    {% for category in categories %}
        {% if category not in photo.categories.all %}
            <div class="form-check">
                <input class="form-check-input" name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}