{% extends 'base.html' %}

{% block title %}
    Просмотр фото
{% endblock %}

{% block content %}

    <div class="container">
        <img class="image-content" src="{{ photo.image.url }}" alt="">
        <h4>{{ photo.title }}</h4>
        <p>{{ photo.category }}</p>

        <div class="flex-wrapp">
            <button type="button" class="btn btn-sm btn-green" data-bs-toggle="modal" data-bs-target="#comment-modal-form">
                Добавить комментарий
            </button>
        </div>
        {% url 'med:photo_detail' photo.pk as url %}
        {% include 'partial/content_question.html' with url=url %}
    </div>

    {% for com in photo.comment.all %}
        {% if com.is_deleted == False and com.is_moderated == False and com.is_anonymous == False %}
            {% include 'partial/comments_list.html' %}
        {% endif %}
    {% endfor %}

    <a class="btn btn-danger" href="{% url 'med:photo_delete' pk=photo.pk %}">Удалить</a>
    <a class="btn btn-warning" href="{% url 'med:photo_update' pk=photo.pk %}">Изменить</a>

    {% for com in photo.comment.all %}
        {% if com.is_deleted == False and com.is_moderated == True and com.is_anonymous == False %}
            {% include 'partial/comments_list.html' %}
        {% endif %}
    {% endfor %}

{% endblock %}