{% extends 'base.html' %}
{% load static %}

{% block title %}
    Удаление фото
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
    {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="photo_list_container text_center">

        <form method="post">
            {% csrf_token %}
            <img class="image-content" src="{{ photo.image.url }}" alt="">
            <h4>Вы действительно хотите удалить эту картинку?</h4>
            <a href="{% url 'med:photo_list' %}" class="btn btn-warning">Отмена</a>
            <input type="submit" class="btn btn-danger" value="Удалить">
        </form>
    </div>
{% endblock %}