{% extends 'photo/create_update_base.html' %}

{% block sidebar %}

    {% if photo %}
        {% for category in categories %}
            {% if category.pk in photo.categories %}
                <div class="form-check">
                    <input class="form-check-input" checked name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                    <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                </div>
            {% endif %}
        {% endfor %}

        {% for category in categories %}
            {% if category.pk not in photo.categories %}

                <div class="form-check">
                    <input class="form-check-input" name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                    <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                </div>

            {% endif %}
        {% endfor %}

    {% else %}
        {% for category in categories %}
            <div class="form-check">
                <input class="form-check-input" name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}