{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Редактирование видео
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <h2>Внести изменения в видео</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="video_link" value="{{ v.video_link }}">
            <div class="mb-3">
                <label for="title" class="form-label">Название*</label>
                <input type="text" class="form-control form-control-sm" id="title" name="title" value="{{ v.title }}">

                {% if form.errors.title %}
                    <div class="alert alert-danger errors-list text_center" role="alert">
                        {% for error in form.errors.title %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Описание</label>
                <textarea class="form-control form-control-sm" id="description" rows="5" name="description">{{ v.description }}</textarea>
                {% if form.errors.description %}
                    <div class="alert alert-danger errors-list text_center" role="alert">
                        {% for error in form.errors.description %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="flex_wrapp">
                {% if form.errors.categories %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%; border: 1px solid red">
                        Добавить категории
                    </button>
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0">
                        {% for error in form.errors.categories %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%">
                        Добавить категории
                    </button>
                {% endif %}
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header sidebar-header">
                    <h5 id="offcanvasRightLabel">Список категорий</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    {% block sidebar %}
                        {% for category in categories %}
                            {% if category in article.categories.all %}
                            <div class="form-check">
                                <input class="form-check-input" checked name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                                <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                            </div>
                            {% endif %}
                        {% endfor %}

                        {% for category in categories %}
                            {% if not category in article.categories.all %}
                            <div class="form-check">
                                <input class="form-check-input" name="categories" value="{{ category.pk }}" type="checkbox" id="{{ category.pk }}">
                                <label class="form-check-label" for="{{ category.pk }}">{{ category.title }}</label>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>

            <button type="submit" class="btn btn-sm mt-2" style="background-color: #B2A2C6; color: white; width: 100%">
                    Опубликовать
            </button>
        </form>
    </div>
{% endblock %}