{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Список видео
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}
{% load embed_video_tags %}

{% block content %}
    <div class="container page-container">
        <h1>Неопубликованные Видео</h1>
		<hr>
		{% for v in videos %}
            {% if v.link not in video_links_saved %}

                {% video v.link '355x670' %}
                <h5><b>{{ v.name }}</b></h5>

                <form action="{% url 'med:videos_unpublished' %}" method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                    <input type="hidden" name="picture" value="{{ v.pictures.base_link }}">
                    <input type="hidden" name="title" value="{{ v.name }}">
                    <input type="hidden" name="description" value="{{ v.description }}">
                    <input type="hidden" name="video_link" value="{{ v.link }}">

                    <div class="flex_wrapp">
                        <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#link{{ forloop.counter }}" aria-controls="offcanvasRight"
                                style="background-color: #FCD5A6; width: 100%;">
                            Добавить категории
                        </button>

                        {% if form.errors.categories %}
                            <div class="alert alert-danger errors-list text_center" role="alert">
                                {% for error in form.errors.categories %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="link{{forloop.counter }}" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header sidebar-header">
                            <h5 id="offcanvasRightLabel">Список категорий</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            {% include 'video/video_create_sidebar.html' %}
                        </div>
                    </div>


                    <input class="btn btn-sm mt-2" type="submit" value="Опубликовать" style="color:white; width: 100%; background-color: #B2A2C6">
                </form>
                <hr/>

            {% endif %}
		{% endfor %}
    </div>
{%endblock%}
