{% extends 'base_new.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}
    Список видео
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock %}

{% block content %}
    {% if search_categories %}
        {% include 'partial/search_categories_form.html' %}
    {% else %}
        {% include 'partial/search_content_form.html' %}
    {% endif %}

        {% if user.profile.is_admin or user.is_superuser %}

            <div class="go-unpublished-videos">
                <a href="{% url 'med:videos_unpublished' %}">
                    <b><i class="bi bi-arrow-left-circle"></i> Перейти к списку неопубликованных видео</b>
                </a>
            </div>

        {% endif %}

        {% if not_found %}

            <div class="not-found">
                <b>Ни одного видео с категорией '{{ search_cat }}' не найдено...</b>
            </div>

        {% elif data %}
            <div class="btn-cat find-cat">
                {{ search_cat }}
            </div>
            <hr>

            {% for v in data %}
                <div class="gap-3 flex-wrapp">
                    {% video v.video_link '100x200' %}
                    <div style="width: 50%">
                        <h5 style="margin-top: 20px"><b><a href="{% url 'med:video_detail' v.pk %}">{{ v.title }}</a></b></h5>
                            {% for cat in v.categories.all %}
                                <p class="vide_cat_title">{{ cat }}</p>
                            {% endfor %}

                        <a href="{% url 'med:video_detail' v.pk %}" class="btn btn-sm mt-2" style="color:white; width: 100%; background-color: #B2A2C6">
                            Перейти
                        </a>
                    </div>
                </div>

                <hr/>
            {% endfor %}

        {% else %}

            {% for v in videos %}
                <div class="gap-3 flex-wrapp">
                    {% video v.video_link '100x200' %}
                    <div style="width: 50%">
                        <h5 style="margin-top: 20px"><b><a href="{% url 'med:video_detail' v.pk %}">{{ v.title }}</a></b></h5>
                        {% for cat in v.categories.all %}
                            <p class="vide_cat_title">{{ cat }}</p>
                        {% endfor %}

                        <a href="{% url 'med:video_detail' v.pk %}" class="btn btn-sm mt-2" style="color:white; width: 100%; background-color: #B2A2C6">
                            Перейти
                        </a>
                    </div>
                </div>

                <hr/>
            {% endfor %}

        {% endif %}

        <img src="{% static 'bg-elements/ellipse-34.svg' %}" class="ellipse-34" alt="">
		<hr>
        <img src="{% static 'bg-elements/ellipse-35.svg' %}" class="ellipse-35" alt="">

    <script>window.__INITIALSTATE__ = '{{qs_cat}}'</script>
    <script>let colors = '{{ colors }}'</script>
    <script src="{% static 'js/search.js' %}"></script>

{% endblock %}
