{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Просмотр видео
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}
{% load embed_video_tags %}

{% block content %}
    <div class="container">
        <hr>
        <a href="{% url 'med:videos' %}">
            <div style="border-radius: 50%; width: 30px; height: 30px; left: 38px; top: 140px; background: #FCD5A6;">
                <img src="{% static 'bg-elements/arrow-right.svg' %}" alt="Arrow left" class="drobtn_img" style="margin-left: 8px">
            </div>
        </a>

        <div class="video-wrapp">
            {% video video.video_link '355x660' %}
        </div>

        <h5><b>{{ video.title }}</b></h5>
        {% if not video.description == 'None' %}
            <p style="font-size: 18px">{{ video.description }}</p>
        {% endif %}

        {% if user.profile.is_admin or user.is_superuser %}
            <a href="{% url 'med:video_update' video.pk %}" class="btn btn-sm" style="color:white; width: 100%; background-color: #B2A2C6">Редактировать</a>
        {% endif %}

        {% if user.profile.is_admin or user.is_superuser %}
            <a href="{% url 'med:video_delete' video.pk %}" class="btn btn-danger btn-sm mt-2" style="width: 100%">Удалить</a>
        {% endif %}

        <div class="flex-wrapp comment-btn-wrapp">
            <button id="modal-btn" class="send-question-btn">
                Добавить комментарий
            </button>
        </div>

        {% url 'med:video_detail' video.pk as url %}

    </div>

    <hr>

    <div id="container">
        {% for com in video.comment.all %}

            {% if com.is_deleted == False %}
                {% if not com.is_moderated and user == com.author or com.author.profile.is_admin or user.is_superuser %}
                    {% include 'partial/comments_list.html' %}

                {% elif com.is_anonymous and user == com.author or com.author.profile.is_admin or user.is_superuser  %}
                    {% include 'partial/comments_list.html' %}

                {% elif com.is_moderated and not com.is_anonymous %}
                    {% include 'partial/comments_list.html' %}

                {% endif %}
            {% endif %}

        {% endfor %}
        </div>

    <input type="hidden" id="content" data-content-type="video" value="{{ video.id }}">

    <div hidden id="modal-form" class="modal-form hidde-modal">
            {% csrf_token %}

            <textarea name="body" id="body" cols="30" rows="7"></textarea>

            <div id="anonymous-btn">
                <div class="hidde-anonymous-text" id="anonymous-btn-text">Виден только администратору</div>

                <div id="anonymous-btn-body">
                    <i class="bi bi-incognito"></i>
                </div>
            </div>

            <input type="hidden" id="user-pk" value="{{ user.pk }}">
            <input type="hidden" id="question-pk" value="">
            <input type="hidden" id="anonymous" value="">

    </div>

    <div hidden id="btn-send" class="move-to-hide disabled" data-comment="True">
        <div id="send-flash" class="flashing-on">
            <img src="{% static 'bg-elements/send-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

    <div hidden id="btn-add" class="move-to-hide disabled" data-comment="True">
        <div id="add-flash" class="flashing-on">
            <img src="{% static 'bg-elements/complement-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

    <div hidden id="send-bg" class="modal-bg to-light disabled"></div>
    <div hidden id="add-bg" class="modal-bg to-light disabled"></div>

    <script src="{% static 'js/comments.js' %}"></script>
{%endblock%}
