{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Удаление видео
{% endblock %}


{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container">
    <form method="POST" action="{% url "med:video_delete" video.pk %}">
        {% csrf_token %}
        <p>Вы дейтвительно хотите удалить видео: "{{ video.title }}"?</p>
        <input type="submit" class="btn btn-danger" value="Удалить">
        <a href="{% url 'med:videos' %}" class="btn btn-primary">Вернуться к списку видео</a>
    </form>
    </div>
{% endblock %}