{% extends 'base_new.html' %}

{% load static %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="vector-6">
        {% if user.is_authenticated %}
            {% include 'partial/navigation_new.html' %}
        {% else %}
            {% include 'partial/mainpage_navbar.html' %}
        {% endif %}

        <div class="about-club">Что вы найдете в клубе</div>
        <div class="title-center">
            <p class="about_me_desc price-desc">
                - Сохранены все сторис;
                <br> - Удобная навигация по темам;
                <br> - Закрытые прямые эфиры;
                <br> - Расширенные посты;
                <br> - Ответы на вопросы всех участников.
            </p>
        </div>
        <div class="about-club price">Стоимость</div>
        <div class="title-center">
            <p class="about_me_desc price-desc left_align">
                - Вступительный взнос в клуб составляет 3500 рублей;
                <br>- В стоимость входит подписка на месяц;
                <br>- Дальнейшее продление подписки составляет 490 рублей ежемесячно.
            </p>

        </div>
        <div class="club-linked-btn">
            <a href="{% url 'subscription' %}"><img src="{% static 'bg-elements/linked_path_group.svg' %}" alt=""></a>
        </div>
        <div class="title-center">
            <h5><strong>В закрытом клубе намного <br>больше возможностей <br>получить ответ именно на <br>свой вопрос </strong></h5>
            <img src="{% static 'bg-elements/_DSC34781.png' %}" alt="">
            <div class="dark-box">
                Заглядывайте в гости к ХИВ, чтобы разобраться куда копать и откуда растут ноги у проблем со здоровьем.
            </div>
            <p class="about_me_desc price-desc-2">Ответить на все вопросы в Instagram мне очень сложно, как бы мне не хотелось помочь каждому из вас.</p>
            <p class="about_me_desc price-desc">ИХ ДЕЙСТВИТЕЛЬНО ОЧЕНЬ МНОГО.</p>

            <h5 class="about_club_subtitle"><strong>Клуб “В гостях у ХИВ” для <br> Вас, если вы:</strong></h5>
        </div>
        <img src="{% static 'bg-elements/ellipse-21.svg' %}" alt="ellipse-21" class="ellipse-21">
        <img src="{% static 'bg-elements/ellipse-22.svg' %}" alt="ellipse-21" class="ellipse-22">
        <img src="{% static 'bg-elements/ellipse-23.svg' %}" alt="ellipse-23" class="ellipse-23">
        <ul class="problem-list-ul">
            <li class="problem-list">Хотите жить здорОво, но не понимаете как?</li>
            <li class="problem-list">Понимаете, что нужно что-то менять в жизни, чтобы быть здоровым?</li>
            <li class="problem-list">Хотите дожить до старости в здравом уме, энергичными и активными?</li>
            <li class="problem-list">Вы провели несколько схем терапии БАД, а проблемы со здоровьем по прежнему сохраняются?</li>
            <li class="problem-list">Перепробовав все известные мази, все ровно продолжаете замазывать высыпания на лице толстым слоем тонального керма?</li>
            <li class="problem-list">Интимная жизнь стала испытанием на прочность?</li>
            <li class="problem-list">Регулярно лечите молочницу, и она возвращается вновь и вновь?</li>
            <li class="problem-list">Есть ощущение хранической усталости?</li>
            <li class="problem-list">Находитесь в постоянном стрессе?</li>
        </ul>
        <div class="about-club club-purpose">Я возьму Вас за руку и буду направлять в этом столь важном пути.</div>
        <div class="link-group"><a href="{% url 'subscription' %}"><img src="{% static 'bg-elements/linked_path_group.svg' %}" alt=""></a></div>
    </div>
{% endblock %}