{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
 {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="page-container">
        <div class="about_me_div">Обо мне</div>
        <img class="about-me-ellipse-15" src="{% static 'bg-elements/ellipse-15.svg' %}" alt="ellipse">
         <div class="title-center">
            <h1>Хисамова Ирина Валерьевна</h1>
            <p class="about_me_subtitle">Кандидат медицинских наук, врач гинеколог, уролог, андролог.</p>
        </div>
        <div class="title-center">
            <img src="{% static 'bg-elements/_DSC3378 1.png' %}" alt="">
            <p class="about_me_desc">Хисамова Ирина Валерьевна, кандидат медицинских наук, стаж работы с 1992 года.
                Имеет три действующих сертификата. По акушерству и гинекологии, урологии, функциональной
                (УЗИ) диагностике. </p>
                <p class="about_me_desc">Прошла многочисленные курсы усовершенствования. В том числе по патологии шейки матки,
                репродуктивной эндокринологии (Д доктор), андрологии, репрудоктологии, иммунологии для
                клиницистов, иммунодиетологии. </p>
                <p class="about_me_desc">Так же прошла полный курс обучения в институте превентайдж, школе Anti age Клода Дале.
                Практикует Интегративныей (комплексный) подход в решении любых проблем со здоровьем.</p>
            <div class="contact_link">
                <div><a href="https://www.instagram.com/hisamova_club/?utm_medium=copy_link"><img src="{% static 'bg-elements/noun_Camera_396979 1.svg' %}" alt=""></a></div>
            </div>
        </div>
    </div>
{% endblock content%}