{% extends 'base_new.html' %}
{% load static %}

{% block content %}
    <div class="page-container">
        <div class="title-center">
            <h1>В гостях у ХИВ</h1>
            <h5>Самое важное для Вашего здоровья</h5>
        </div>

        <div class="IMG_6233-671">
            <img class="" src="{% static 'bg-elements/IMG_6233-671.png' %}" alt="">
        </div>
        <a href="{% url 'subscription' %}">
            <img src="{% static 'bg-elements/linked_path_group.svg' %}" alt="" class="linked_path_group">
        </a>
        <img class="ellipse-4" src="{% static 'bg-elements/ellipse-4.svg' %}" alt="">
        <img class="ellipse-3" src="{% static 'bg-elements/ellipse-3.svg' %}" alt="">
        <div class="link_block">
            <a href="{% url 'med:about_me' %}"><div class="about_me">Обо мне</div></a>
            <a href="{% url 'med:about_club' %}"><div class="about_club_link">О клубе</div></a>
            <a href="{% url 'med:categories' %}"><div class="content_titles">Темы</div></a>
            <a href="{% url 'subscription' %}"><div class="only_one_content">Получить доступ к одной теме</div></a>
        </div>
        <h4>Что говорят люди</h4>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="review_item">
                        <div>
                            <p class="review_text">Была на консультации у Ирины Валерьевны. Результаты уже ощущаю. Спасибо!</p>
                        </div>
                        <div class="review_pic_div">
                            <img src="{% static 'img/logo.png' %}" class="review_pic d-block" alt="...">
                        </div>
                    </div>
                </div>

                {% for review in reviews %}
                    <div class="carousel-item">
                        <div class="review_item">
                            <div>
                                <p class="review_text">{{ review.body }}</p>
                            </div>
                            <div>
                                {% if review.author.profile.avatar %}
                                    <div class="review_pic_div">
                                        <img src="{{ review.author.profile.avatar.url }}" class="review_pic d-block" alt="...">
                                    </div>
                                {% else %}
                                    <div class="review_pic_div">
                                        <img src="{% static 'img/logo.png' %}" class="review_pic d-block" alt="...">
                                    </div>
                                {% endif %}
                                <div class="review_author">{{ review.author }}</div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}