{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Оффлайн консультация
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}

{% block content %}
    <div class="page-container">
        <div class="offline">Информация для очного приема</div>
        <img class="offline-ellipse-20" src="{% static 'bg-elements/ellipse-20.svg' %}" alt="ellipse">
        <img class="offline-ellipse-17-1" src="{% static 'bg-elements/ellipse-17-1.svg' %}" alt="ellipse">
        <div class="title-center">
            <p class="about_me_desc">Очный прием проводится в медицинском центре Гармония
                г. Ярославль, проспект Ленина, 18/50.</p>
            <p class="about_me_desc">Телефон для уточнения расписания записи:</p> <p> <a href="tel: 8(4852) 71-50-05"><strong>8(4852) 71-50-05</strong></a></p><p> </p>
            <div style="position:relative;overflow:hidden; margin-top: 15px"><a href="https://yandex.kz/maps/org/garmoniya/1042936792/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Гармония</a><a href="https://yandex.kz/maps/16/yaroslavl/category/medical_center_clinic/184106108/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Медцентр, клиника в Ярославле</a><a href="https://yandex.kz/maps/16/yaroslavl/category/medical_lab/184106078/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Медицинская лаборатория в Ярославле</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUyqSQ5OA" width="450" height="370" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                <p class="about_me_desc">Очный визит желательно спланировать так, чтобы часть важных анализов удалось
                    сдать в медицинском центре Гармония. Это могут быть скрининговые исследования биоимпеданс и ангиоскан,
                    исследование на микроэлементы, витамины и тяжелые металлы Олигоскан. </p>
                <p class="about_me_desc">Стоит так же сделать такое уникальное и мало где применяемое исследование,
                    как определение уровня здоровья по Гаркави. </p>
                <p class="about_me_desc">Обследование, которое абсолютно необходимо пройти в нашем медицинском
                    центре это расширенная копрограмма с бактериоскопией мазка. Информация, полученная в результате
                    этого исследования максимально важна. Я пока не нашла сетевых лабораторий, которые выдают
                    подобного рода подробные заключения по результатам копрологического исследования кала. Поэтому,
                    если вы едете из другого города, порекомендовать лаборатории для такого исследования я вряд ли
                    смогу. Так же оптимальным на проведении мною лично ультразвукового исследования матки и придатков.
                    При проблемах с шейкой матки есть возможность провести кольпоскопическое исследование специалистом
                    высокого уровня на немецком оборудовании.  </p>
                <p class="about_me_desc">Процедурный кабинет для отбора крови на анализы работает с 8 до 14 часов.
                    Анализы крови оптимально сдавать натощак. Поэтому, если Вы едете издалека, возможно стоит
                    запланировать ночлег в Ярославле. </p>
                <p class="about_me_desc">Первичный приём продолжается от 1.5 до 2 часов. При этом крайне важно
                    прийти хотя бы на 20 минут раньше для проведения предварительного осмотра и заполнения анкеты.
                    Стоимость первичного приёма врача интегративной медицины 4950. В эту стоимость не входят осмотр,
                    УЗИ и другие дополнительные исследования.</p>
        </div>
        <div class="offline info-offline">Информация для очного приема</div>
        <div class="title-center">
            <p class="about_me_desc">Как такового стандартного плана обследования перед приемом «для всех» у меня нет.
                Поэтому прошу приезжать с теми обследованиями, результаты которых есть на руках.
                Если же вы давно не сдавали никаких анализов, что сегодня большая редкость, можно заказать
                консультацию для составлением перечня минимального обследования через мою помощницу Евгению.
                Стоимость такой консультации (знакомство с историей и составление входящего чекапа) 1750-2900 рублей.</p>

            <div class="contact_link">
                <div><a href="https://www.instagram.com/hisamova_club/?utm_medium=copy_link"><img src="{% static 'bg-elements/noun_Camera_396979 1.svg' %}" alt=""></a></div>
                <div><a href="https://api.whatsapp.com/send/?phone=87754099983"><img src="{% static 'bg-elements/noun_whatsapp_2584262 1.svg' %}" alt=""></a></div>
            </div>
            </div>
    </div>
{% endblock content%}