{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Онлайн консультация
{% endblock %}

{% block navbar %}
    {% include 'partial/navigation_new.html' %}
{% endblock navbar %}

{% block content %}
    <div class="page-container">
        <div class="online">Онлайн консультация</div>
        <img class="about-me-ellipse-15" src="{% static 'bg-elements/ellipse-17.svg' %}" alt="ellipse">
        <img class="online-ellipse-19" src="{% static 'bg-elements/ellipse-19.svg' %}" alt="ellipse">
        <div class="title-center">
            <p class="about_me_desc">Во время онлайн консультации, которая длится от 30 до 45-60 минут,
                будет подробно проанализирована ваша клиническая ситуация, даны исчерпывающие комментарии
                по результатам имеющихся обследований. Я расскажу и аргументирую своё мнение откуда, скорее
                всего, растут ноги у имеющихся проблем. Предложу пути их решения, непременно дам общие
                рекомендации и начальный этап терапии. А так же предложу дообследование, если
                таковое потребуется.</p>
                <p class="about_me_desc">Стоимость заочной консультации от 3900 до 7900 в зависимости
                    от сложности ситуации и количества результатов исследований, которые предстоит во
                    время консультации проанализировать.</p>
                <p class="about_me_desc">После проведённой консультации я непременно отвечаю на возникшие
                    вопросы в течении ближайших 2 дней после консультации. В дальнейшем прямая связь
                    возможна при возникновении ЭКСТРЕННЫХ ситуаций...сюда не входят вопросы «напомните мне
                    ещё раз», «я запуталась как принимать».</p>
                <p class="about_me_desc">На самом деле существуют различные варианты взаимодействия и сопровождения пациентов.
                    Стоимость сопровождения при этом зависит от сложности ситуации, и в первую очередь
                    от того, насколько пациентка хочет быть постоянно на связи. </p>
                <p class="about_me_desc">Заочное консультирование и сопровождение не самый простой вариант
                    в том числе для доктора. Поэтому все очень индивидуально и возможны любые варианты
                    взаимодействия.</p>
                <p class="about_me_desc">Для получения онлайн консультации напишите Евгении, моей помощнице.</p>
            <div class="contact_link">
                <div><a href="https://www.instagram.com/hisamova_club/?utm_medium=copy_link"><img src="{% static 'bg-elements/noun_Camera_396979 1.svg' %}" alt=""></a></div>
                <div><a href="https://api.whatsapp.com/send/?phone=87754099983"><img src="{% static 'bg-elements/noun_whatsapp_2584262 1.svg' %}" alt=""></a></div>
            </div>
        </div>
    </div>
{% endblock content%}