{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Добавить комментарий</h1>
    <form action="{% url 'med:comment_create' content.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"
               class="btn btn-success"
               name="Оставить комментарий">
    </form>
{% endblock %}