{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container">
    <hr>
    <a href="{% url 'med:comment_list' %}">Вернуться к списку вопросов</a>
    <form action="{% url 'med:comment_detail' comment.pk %}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <p class="card-title">Автор: <b>{{ comment.author }}</b></p>
                <p class="card-subtitle mb-2 text-muted">{{ comment.created_at }}</p>
                <hr>
                <p class="card-text">{{ comment.body }}</p>
                <div>
                    {% if comment.is_review %}
                    <input type="checkbox" id="is_review" name="is_review" value="is_review" checked>
                        {% else %}
                        <input type="checkbox" id="is_review" name="is_review" value="is_review" checked>
                    {% endif %}
                    <label for="is_review"><b>Отправить в отзывы</b></label>
                </div>
                <div>
                    {% if comment.is_question %}
                        <input type="checkbox" id="is_question" name="is_question" value="is_question" checked>
                    {% else %}
                         <input type="checkbox" id="is_question" name="is_question" value="is_review">
                    {% endif %}
                    <label for="is_question"><b>Является вопросом</b></label>
                </div>
                <div>
                    {% if comment.is_deleted %}
                        <input type="checkbox" id="is_deleted" name="is_deleted" value="is_deleted" checked>
                        {% else %}
                        <input type="checkbox" id="is_deleted" name="is_deleted" value="is_deleted" checked>
                    {% endif %}
                    <label for="is_deleted"><b>Запретить</b></label>
                </div>
                <button type="submit" class="btn btn-green btn-sm" style="width: 100%">Отправить</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}