{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Автор</th>
                    <th scope="col">Вопрос</th>
                </tr>
            </thead>

            <tbody>
                {% for com in comments %}
                    {% if not com.is_moderated and not com.is_deleted %}
                        <tr>
                            <td>
                                <p>{{ com.author }}</p>
                            </td>
                            <td>
                                <a href="{% url 'med:comment_detail' com.pk %}">{{ com.body|slice:":50" }}
                                    <span class="btn btn-warning btn-sm" style="height: 23px; font-size: 10px">
                                        новый
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {% for com in comments %}
                    {% if com.is_moderated and not com.is_deleted %}
                        <tr>
                            <td>
                                <p><b>{{ com.author }}</b></p>
                            </td>
                            <td>
                                <a href="{% url 'med:comment_detail' com.pk %}">
                                    {{ com.body|slice:":50" }}
                                </a>
                                 <a href="#">
                                     <p>
                                      <a data-bs-toggle="collapse" href="#com{{ com.pk }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <b>Ответить</b>
                                      </a>
                                    </p>
                                    <div class="collapse" id="com{{ com.pk }}">
                                      <div class="card card-body">

                                        <form action="" method="post">
                                            {% csrf_token %}
                                            {% for error in form.non_field_errors %}
                                                <p class="form-error">{{ error }}</p>
                                            {% endfor %}
                                            <input type="hidden" name="comment" value="{{ com.pk }}">
                                            <textarea style="width: 100%"  name="body"></textarea>

                                            <input class="btn btn-sm mt-2" type="submit" value="Ответить" style="color:white; width: 100%; background-color: #B2A2C6">
                                        </form>
                                      </div>
                                    </div>
                                 </a>

        
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

                {% for com in comments %}
                    {% if com.is_deleted %}
                        <tr>
                            <td>
                                <p>{{ com.author }}</p>
                            </td>
                            <td>
                                <a href="{% url 'med:comment_detail' com.pk %}">{{ com.body|slice:":50" }}
                                    <span class="btn btn-danger btn-sm" style="height: 23px; font-size: 10px">
                                        удалён
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}