{% extends 'base_new.html' %}
{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Автор</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>

            <tbody>
                {% for com in questions %}
                    <tr>
                        <td>
                            <p>{{ com.author }}</p>
                        </td>

                        <td>
                            <a href="{% url 'med:comment_detail' com.pk %}">{{ com.body|slice:":50" }}
                                {% if not com.is_moderated %}
                                    <span class="btn btn-warning btn-sm" style="height: 23px; font-size: 10px">
                                        новый
                                    </span>
                                {% endif %}

                            </a>
                        </td>

                        <td>
                            <a href="{% url 'questions' com.author_id %}">
                                перейти на страницу автора
                            </a>
                        </td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}