{% load static %}

<div class="container">
    <div class="gap-2 flex-wrapp">
        <div class="comment-ring">
            <img class="author-no-avatar" src="{% static 'bg-elements/photo.svg' %}" alt="">
        </div>
        <div style="width: 80%">
            <p style="font-size: 16px; margin-bottom: 1px"><b>{{ com.author.first_name }} {{ com.author.last_name }}</b></p>

            <p class="card-subtitle text-muted" style="font-size: 12px">
                {{ com.created_at }}

                {% if not com.is_moderated and user.is_superuser or user.profile.is_admin %}
                    ---<a class="moderation-text" href="{% url 'med:comment_detail' com.pk %}"> на модерации</a>
                {% elif not com.is_moderated %}
                    ---<span class="moderation-text"> на модерации</span>
                {% endif %}

                {% if com.is_anonymous %}
                    <span class="anonymous-icon">
                        <i class="bi bi-incognito"></i>
                    </span>
                {% endif %}

            </p>
        </div>
    </div>
    <p style="font-size: 15px">{{ com.body }}</p>

    {% if com.is_moderated and user == com.author or com.is_moderated and user.profile.is_admin or user.is_superuser %}

        <div class="mb-2 add-comment-answer" data-target="addition" data-id="{{ com.id }}">
            {% if user.is_superuser or user.profile.is_admin %}
                ответить
            {% else %}
                дополнить
            {% endif %}
        </div>

    {% endif %}

</div>

<div id="answers-{{ com.id }}">
    {% for answer in com.answer_comment.all %}

        <div class="container">
            <div style="margin-left: 30px">
                <div class="gap-2 flex-wrapp">
                    <div class="comment-ring-answer">
                        <img class="author-no-avatar" src="{% static 'bg-elements/photo.svg' %}" alt="">
                    </div>
                    <div style="width: 80%">
                        <p style="font-size: 16px; margin-bottom: 1px">
                            <b>{{ answer.author.first_name }} {{ answer.author.last_name }}</b>

                            {% if answer.author.profile.is_admin %}
                                (администратор)
                            {% endif %}
                        </p>

                        <p class="card-subtitle text-muted" style="font-size: 12px">{{ answer.created_at }}</p>
                    </div>
                </div>
                <p style="font-size: 15px">{{ answer.body }}</p>
            </div>
        </div>

    {% endfor %}
</div>

<hr>
