<section>
  <div class="popup-outer">
      <div class="popup-box">
        <h5 class="modal-title" id="comment-modal-form-label">Добавить комментарий</h5>
        <i id="close" class='bi bi-x close'></i>
            <form method="post" action="{{ url }}" id="question">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <textarea name="body" class="form-control" id="comment-text"></textarea>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_anonymous" value="is_anonymous" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Отобразить только для администратора
                        </label>
                    </div>
                </div>

                <div class="button">
                    <button id="close" class="cancel">Отменить</button>
                    <button type="submit" name="question_send" class="btn btn-sm btn-green send">Добавить</button>
                </div>
            </form>
      </div>
  </div>
</section>