{% load static %}

<div class="navigation">
    <div class="logo_mainpage">
        <div>
            <a href="{% url 'index' %}">
                <img class="logo_img" src="{% static 'bg-elements/logo.svg' %}" alt="логотип">
            </a>
        </div>
        <div class="block_login">
            <div class="login_btn">
                <a href="{% url 'login' %}" type="button">Войти</a>
            </div>
        </div>
    </div>
</div>