{% load static %}

<div class="navigation">

    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'bg-elements/logo.svg' %}" alt="">
        </a>
    </div>

    <div id="open" class="menu-btn">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div id="hide-bg" class="hidden-bg to-light" hidden></div>

    <div id="hide" class="hidden-menu" hidden>
        <div id="menu" class="menu to-hide">

            <a href="{% url 'index' %}">
                <img class="menu-logo" src="{% static 'bg-elements/logo.svg' %}" alt="">
            </a>

            <button id="close" class="menu-close">
                <img class="img-close" src="{% static 'bg-elements/menu-close.svg' %}" alt="">
            </button>

            <div class="menu-links">
                {% if user.profile.is_admin or user.is_superuser %}
                    <a class="menu-links-item menu-links-pink" href="{% url 'admin_site' %}">
                    <p class="menu-links-item-text">
                        Админ панель
                    </p>
                </a>
                {% endif %}

                {% if user.is_authenticated and not user.profile_is_admin and not user.is_superuser %}
                    <a class="menu-links-item menu-links-pink" href="{% url 'profile' pk=user.pk %}">
                        <p class="menu-links-item-text">
                            Личный кабинет
                        </p>
                    </a>
                {% endif %}

                <a class="menu-links-item menu-links-blue" href="{% url 'med:categories' %}">
                    <p class="menu-links-item-text">
                        Темы
                    </p>
                </a>

                <a class="menu-links-item menu-links-green-1" href="{% url 'med:videos' %}">
                    <p class="menu-links-item-text">
                        Видео - интервью с врачами
                    </p>
                </a>

                <a class="menu-links-item menu-links-pink-1" href="{% url 'med:photo_list' %}">
                    <p class="menu-links-item-text">
                        Сохранённые сторис
                    </p>
                </a>

                <a class="menu-links-item menu-links-pink" href="{% url 'med:articles' %}">
                    <p class="menu-links-item-text">
                        Публикации
                    </p>
                </a>

                <a class="menu-links-item menu-links-green-1" href="{% url 'med:offline_consultation' %}">
                    <p class="menu-links-item-text">
                        Очный приём
                    </p>
                </a>

                <a class="menu-links-item menu-links-pink" href="{% url 'med:online_consultation' %}">
                    <p class="menu-links-item-text">
                        Онлайн - консультации
                    </p>
                </a>

                <a class="menu-links-item menu-links-pink-1" href="https://www.instagram.com/hisamova_club/?utm_medium=copy_link">
                    <p class="menu-links-item-text">
                        Instagram
                    </p>
                </a>


                {% if user.is_authenticated %}
                     <a class="menu-links-item menu-links-green-1" href="{% url 'logout' %}">
                        <p class="menu-links-item-text">
                            Выйти
                        </p>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>

</div>