{% load static %}

<div class="input-wrapp">
    <input type="text" id="search" name="search" placeholder="Начните вводить название">

    <div class="circle-cat">
        <img class="arrow" src="{% static 'bg-elements/arrow-down.svg' %}" alt="">
    </div>
</div>

<form method="post">
    {% csrf_token %}    

    <div class="box not-visible">
        <div class="category-container" id="container">
            {% for category, color in obj_with_colors %}
            {% if not category.main_category %}
                <input type="submit" class="btn-cat sub-cat" name="search" value="{{ category.title }}" style="border-color: {{ color }}">
                <br>
            {% endif %}

            {% if category.is_main %}
                <div class="subcategories-box">
                    {% for subcategory, sub_cat_color in obj_with_colors %}

                        {% if subcategory.main_category == category %}

                            <input type="submit" class="btn-cat sub-cat btn-submit" name="search" value="{{ subcategory.title }}" style="border-color: {{ color }}">

                        {% endif %}

                        {% if forloop.last %}
                            <br>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endif %}

        {% endfor %}
        </div>
    </div>

</form>
