{% load static %}

<div class="input-wrapp">
    <input type="text" id="search" data-cat-list="true" placeholder="Начните вводить название">

    <div class="circle-cat">
        <img class="arrow" src="{% static 'bg-elements/arrow-down.svg' %}" alt="">
    </div>
</div>

<form method="post">
    {% csrf_token %}

    <input type="hidden" value="" name="content_type" id="content_type">

    <div class="box not-visible">
        <div class="category-container" id="container">
            {% for category, color in obj_with_colors %}
                {% if not category.main_category %}
                    <div class="btn-cat" data-id="{{ category.id }}" style="border-color: {{ color }}">
                        {{ category.title }}

                        <div class="submit-box" id="{{ category.id }}" style="border-color: {{ color }}">
                            <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="videos" value="{{ category.id }}">Видео</button>
                            <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="photos" value="{{ category.id }}">Сторис</button>
                            <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="articles" value="{{ category.id }}">Публикации</button>
                        </div>

                    </div>

                    <br>

                {% endif %}

                {% if category.is_main %}
                    <div class="subcategories-box">
                        {% for subcategory, sub_cat_color in obj_with_colors %}

                            {% if subcategory.main_category == category %}
                                 <div class="btn-cat sub-cat" data-id="{{ subcategory.id }}" style="border-color: {{ color }}">
                                     {{ subcategory.title }}

                                    <div class="submit-box" id="{{ subcategory.id }}" style="border-color: {{ color }}">
                                        <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="videos" value="{{ category.id }}">Видео</button>
                                        <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="photos" value="{{ category.id }}">Сторис</button>
                                        <button type="submit" class="btn-submit" name="category" style="border-color: {{ color }}" data-content-type="articles" value="{{ category.id }}">Публикации</button>
                                    </div>

                                 </div>

                            {% endif %}

                            {% if forloop.last %}
                                <br>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>

</form>