{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Список публикаций
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
    {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    {% if search_categories %}
        {% include 'partial/search_categories_form.html' %}
    {% else %}
        {% include 'partial/search_content_form.html' %}
    {% endif %}

    {% if not_found %}
        <div class="not-found">
            <b>Ни одной публикации с категорией '{{ search_cat }}' не найдено...</b>
        </div>
        <hr>
    {% elif data %}
        <div class="btn-cat find-cat">
            {{ search_cat }}
        </div>
        <hr>

        {% if not user.profile.is_admin and not user.is_superuser %}
            <div class="container">
                {% for article in data %}
                    <a href="{% url 'med:article_detail' article.pk %}" style="max-width: 50%">
                        <div class="card text-white mt-2 text-center col-sm-6" style="border-radius: 26px; width: 100%; height: 170px">
                            <img src="{{ article.picture.url }}" alt="..." style="border-radius: 26px; width: 100%; height: 100%">
                        </div>
                    </a>
            {% endfor %}
        {% endif %}
    {% if user.profile.is_admin or user.is_superuser %}
        <a href="{% url 'med:article_update' article.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
        <a href="{% url 'med:article_delete' article.pk %}" class="btn btn-danger btn-sm">Удалить</a>
    {% endif %}

            </div>

    {% else %}
        <div class="container">
            <div class="row">
                {% if not user.is_superuser or not user.profile.is_admin %}
                    {% for article in articles %}
                        <a href="{% url 'med:article_detail' article.pk %}" style="max-width: 50%">
                            <div class="card text-white mt-2 text-center col-sm-6" style="border-radius: 26px; width: 100%; height: 170px">
                                <img src="{{ article.picture.url }}" alt="..." style="border-radius: 26px; width: 100%; height: 100%">
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}


    {% if user.is_superuser or user.profile.is_admin %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название статьи</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% if data %}

                {% for article in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'med:article_detail' article.pk %}">{{ article.title }}</a></td>
                        <td><a href="{% url 'med:article_update' article.pk %}">Изменить</a></td>
                        <td><a href="{% url 'med:article_delete' article.pk %}">Удалить</a></td>
                    </tr>
                {% endfor %}

            {% else %}

                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'med:article_detail' article.pk %}">{{ article.title }}</a></td>
                        <td><a href="{% url 'med:article_update' article.pk %}">Изменить</a></td>
                        <td><a href="{% url 'med:article_delete' article.pk %}">Удалить</a></td>
                    </tr>
                {% endfor %}

            {% endif %}

            </tbody>
        </table>
    {% endif %}
    <img src="{% static 'bg-elements/ellipse-37.svg' %}" class="ellipse-37" alt="">


    <script>window.__INITIALSTATE__ = '{{qs_cat}}'</script>
    <script>let colors = '{{ colors }}'</script>
    <script src="{% static 'js/search.js' %}"></script>

{% endblock %}