{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Создание публикации
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="container page-container">
        <h2>Создать новую статью</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="picture" class="form-label">Загрузить картинку*</label>
                {% if form.errors.picture %}
                    <input class="form-control form-control-sm" id="picture" type="file" name="picture" style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.picture %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input class="form-control form-control-sm" id="picture" type="file" name="picture">
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Заголовок*</label>
                {% if form.errors.title %}
                    <input type="text" class="form-control form-control-sm" value="{{ article.title }}" id="title" name="title" style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.title %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="form-control form-control-sm" value="{{ article.title }}" id="title" name="title">
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="subtitle" class="form-label">Подзаголовок*</label>
                {% if form.errors.subtitle %}
                    <input type="text" class="form-control form-control-sm" value="{{ article.subtitle }}" id="subtitle" name="subtitle" style="border: 1px solid red;">
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.subtitle %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="text" class="form-control form-control-sm" value="{{ article.subtitle }}" id="subtitle" name="subtitle">
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="body" class="form-label">Тело статьи*</label>
                {% if form.errors.body %}
                    <textarea class="form-control form-control-sm" id="body"  rows="5" name="body" style="border: 1px solid red;">
                        {{ article.body }}
                    </textarea>
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.body %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <textarea class="form-control form-control-sm" id="body"  rows="5" name="body">{{ article.body }}</textarea>
                {% endif %}
            </div>

            <div class="flex_wrapp">
                {% if form.errors.categories %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%; border: 1px solid red">
                        Добавить категории
                    </button>
                    <div class="alert errors-list error_style" role="alert" style="margin-left: 0;">
                        {% for error in form.errors.categories %}
                            <span>*</span>{{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    <button class="btn btn-sm width-100" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            style="background-color: #FCD5A6; width: 100%;">
                        Добавить категории
                    </button>
                {% endif %}
            </div>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header sidebar-header">
                        <h5 id="offcanvasRightLabel">Список категорий</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        {% include 'article/article_create_sidebar.html' %}
                    </div>
                </div>


            <button type="submit" class="btn btn-sm publish_btn mt-2">Опубликовать</button>
        </form>

    </div>
{% endblock %}
