{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Публикация
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
        {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}

{% endblock navbar %}

{% block content %}
    <div class="photo_list_background" style="background-color: #FCD5A6; opacity: 51%"></div>

    <div class="container" style="width: 90%">
        <a href="{% url 'med:articles' %}">
            <div style="border-radius: 50%; width: 30px; height: 30px; left: 38px; top: 140px; background: #FCD5A6;">
                <img src="{% static 'bg-elements/arrow-right.svg' %}" alt="Arrow left" class="drobtn_img" style="margin-left: 8px">
            </div>
        </a>

        <div class="card text-white mt-2 text-center col-sm-6" style="border-radius: 26px; width: 100%; height: 100%">
            <img src="{{ article.picture.url }}" alt="..." style="border-radius: 26px; width: 100%; height: 100%">
        </div>
    </div>

    <div class="offline" style="margin-top: 15px; margin-bottom: 15px; padding-bottom: 35px">
        {% for cat in article.categories.all %}
            <span>{{ cat.title }} |</span>
        {% endfor %}
    </div>

    <div class="container" style="width: 90%">
        <p class="card-text"><small class="text-muted">Опубликовано: {{ article.created_at | date }}</small></p>
        <h6 style="margin-top: 10px"><b>{{ article.subtitle }}</b></h6>
        <p class="card-text">{{ article.body }}</p>
    </div>

    <div class="flex-wrapp comment-btn-wrapp">
        <button id="modal-btn" class="send-question-btn">
            Добавить комментарий
        </button>
    </div>

    <hr>

    {% url 'med:article_detail' article.pk as url %}


    <div id="container">
        {% for com in article.comment.all %}

            {% if com.is_deleted == False %}
                {% if not com.is_moderated and user == com.author or user.profile.is_admin or user.is_superuser %}
                    {% include 'partial/comments_list.html' %}

                {% elif com.is_anonymous and user == com.author or user.profile.is_admin or user.is_superuser  %}
                    {% include 'partial/comments_list.html' %}

                {% elif com.is_moderated and not com.is_anonymous %}
                    {% include 'partial/comments_list.html' %}

                {% endif %}
            {% endif %}

        {% endfor %}
    </div>

        <input type="hidden" id="content" data-content-type="article" value="{{ article.id }}">

    <div hidden id="modal-form" class="modal-form hidde-modal">
            {% csrf_token %}

            <textarea name="body" id="body" cols="30" rows="7"></textarea>

            <div id="anonymous-btn">
                <div class="hidde-anonymous-text" id="anonymous-btn-text">Виден только администратору</div>

                <div id="anonymous-btn-body">
                    <i class="bi bi-incognito"></i>
                </div>
            </div>

            <input type="hidden" id="user-pk" value="{{ user.pk }}">
            <input type="hidden" id="question-pk" value="">
            <input type="hidden" id="anonymous" value="">

    </div>

    <div hidden id="btn-send" class="move-to-hide disabled" data-comment="True">
        <div id="send-flash" class="flashing-on">
            <img src="{% static 'bg-elements/send-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

    <div hidden id="btn-add" class="move-to-hide disabled" data-comment="True">
        <div id="add-flash" class="flashing-on">
            <img src="{% static 'bg-elements/complement-question.svg' %}" alt="" class="btn-icon">
        </div>
    </div>

    <div hidden id="send-bg" class="modal-bg to-light disabled"></div>
    <div hidden id="add-bg" class="modal-bg to-light disabled"></div>

{% endblock %}