{% extends 'base_new.html' %}
{% load static %}

{% block title %}
    Удаление публикации
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'partial/navigation_new.html' %}
    {% else %}
        {% include 'partial/mainpage_navbar.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="photo_list_container text_center">
        <form method="POST" action="{% url "med:article_delete" article.pk %}">
            {% csrf_token %}
            <h4 class="page-container">Вы действительно хотите удалить статью: "{{ article.title }}"?</h4>
            <a href="{% url 'med:articles' %}" class="btn btn-warning">Отмена</a>
            <input type="submit" class="btn btn-danger" value="Удалить">
        </form>
    </div>
{% endblock %}
